{% extends "TBNAgendaBundle::layout-fluid.html.twig" %}

{% block breadcrumb_agenda %}    
    {% if page > 1 %}
        {% set test = menu.addItem("Page " ~ page, path('tbn_agenda_pagination', {'page': page})) %}
    {% endif %}
{% endblock %}


{% block titre_agenda %}
    Agenda des <strong>événements {{ site.adjectifPluriel }}</strong>
{% endblock %}

{% block helper -%}
    {% include "TBNAgendaBundle:Agenda:block_criteres.html.twig" %}    
{%- endblock %}

{% block body_agenda -%}
    <div id="pjax-search-container">
        {% block soirees -%}{%- endblock %}                
    </div>  
{%- endblock %}

{% block widgets_agenda %}{% include "TBNAgendaBundle:MenuDroit:accueil.html.twig" %}{% endblock %}

{% block css_agenda %}
    {% stylesheets 
        'bower/bootstrap-datepicker/css/datepicker3.css'
        'bower/bootstrap-select/dist/css/bootstrap-select.min.css'
        'bower/fancybox/source/jquery.fancybox.css'
        'bundles/tbnagenda/css/liste.css'
        output='prod/css/evenements/agenda.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" >
    {% endstylesheets %}
{% endblock %}

{% block head_js_agenda %}
    <meta name="include_mode" content="async" >
    <script src="//cdnjs.cloudflare.com/ajax/libs/hinclude/0.9.5/hinclude.min.js" type="text/javascript"></script>
{% endblock %}

{% block js_agenda %}
    {% javascripts 
        'bower/jquery-unveil/jquery.unveil.min.js'
        'bower/fancybox/source/jquery.fancybox.js'
        'bower/bootstrap-datepicker/js/bootstrap-datepicker.js'
        'bower/bootstrap-datepicker/js/locales/bootstrap-datepicker.fr.js'
        'bower/bootstrap-select/dist/js/bootstrap-select.min.js'
        'bower/bootstrap-select/js/i18n/defaults-fr_FR.js'
        'bower/jquery-unveil/jquery.unveil.min.js'
        '@TBNAgendaBundle/Resources/public/js/agenda.js'
        output='prod/js/evenements/agenda.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}