<div>
    <a class="btn btn-primary btn-flat btn-block paginate"
       href="{{ path('tbn_agenda_pagination', {'page': (page + 1)}) }}" 
       data-next="{{ (page + 1) }}">
        Suivant ({{ page + 1 }})
    </a>
</div>