/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2014, 15:31:24
    Author     : guillaume
*/
/*

To get this list of colors inject jQuery at http://www.google.com/design/spec/style/color.html#color-color-palette

Then, run this script to get the list.


(function() {
  var colors = {}, main = {};
  $(".color-group").each(function() {
    var color = $(this).find(".name").text().trim().toLowerCase().replace(" ", "-");
    colors[color] = {};

    $(this).find(".color").not(".main-color").each(function() {
      var shade = $(this).find(".shade").text().trim(),
          hex   = $(this).find(".hex").text().trim();

      colors[color][shade] = hex;
    });
    main[color] = color + "-" + $(this).find(".main-color .shade").text().trim();

  });
  var LESS = "";
  $.each(colors, function(name, shades) {
    LESS += "\n\n";
    $.each(shades, function(shade, hex) {
      LESS += "@" + name + "-" + shade + ": " + hex + ";\n";
    });
    if (main[name]) {
      LESS += "@" + name + ": " + main[name] + ";\n";
    }
  });
  console.log(LESS);
})();


*/
.comments {
  margin-top: 40px;
}
.comments .comment {
  margin-bottom: 30px;
}
.comments .comment .infos {
  margin-bottom: 10px;
}
.comments .comment .infos span {
  margin-left: 10px;
}
.comments .block_reponses .comment {
  margin-bottom: 10px;
}
.comments .block_post {
  margin-top: 10px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2014, 18:05:06
    Author     : guillaume
*/
.hinclude_errors .error {
  display: none;
  width: 100%;
  text-align: center;
}
.include_404 .error_404 {
  display: inline-block;
}
.include_500 .error_500 {
  display: inline-block;
}
.include_404 .hinclude_no_error,
.include_500 .hinclude_no_error {
  display: none;
}
.panel-twitter {
  min-height: 400px;
}
.panel-twitter iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tendances strong {
  display: block;
}
.buttons {
  margin-bottom: 15px;
}
html body #widgets .trait {
  padding-bottom: 5px;
  padding-top: 5px;
}
html body #widgets .trait a {
  display: block;
}
html body #widgets .trait small {
  font-style: italic;
}
html body #widgets .trait .user_profil_picture {
  padding-right: 0;
}
.panel-primary .panel-heading .modal-title {
  position: relative;
}
.panel-primary .panel-heading h3 .fa {
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: white;
  border: 1px solid #3f51b5;
  border-radius: 50px;
  position: absolute;
  bottom: -25px;
  right: 0;
  z-index: 2;
}
.panel-primary .panel-heading h2 .fa {
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background-color: white;
  border: 1px solid #3f51b5;
  border-radius: 50px;
  position: absolute;
  bottom: -30px;
  right: 0;
  z-index: 2;
}
.details_evenement {
  font-size: 120%;
}
.details_evenement .block_infos {
  overflow: hidden;
}
.details_evenement .block_infos .fa-ul li {
  margin-bottom: 10px;
}
.details_evenement .block_infos .tags .label {
  margin-right: 5px;
}
#loadMap {
  margin-bottom: 5px;
}
.preview .img-responsive {
  max-height: 250px;
}

/*# sourceMappingURL=details.css.map */