/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2014, 14:12:15
    Author     : guillaume
*/
/* 
    Created on : 13 sept. 2014, 15:15:02
    Author     : Guillaume S. <guillaume@sainthillier.fr>
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2014, 18:05:06
    Author     : guillaume
*/
.hinclude_errors .error {
  display: none;
  width: 100%;
  text-align: center;
}
.include_404 .error_404 {
  display: inline-block;
}
.include_500 .error_500 {
  display: inline-block;
}
.include_404 .hinclude_no_error,
.include_500 .hinclude_no_error {
  display: none;
}
.panel-twitter {
  min-height: 400px;
}
.panel-twitter iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tendances strong {
  display: block;
}
.buttons {
  margin-bottom: 15px;
}
html body .trait {
  padding-bottom: 5px;
  padding-top: 5px;
}
html body .trait a {
  display: block;
}
html body .trait small {
  font-style: italic;
}
html body .trait .user_profil_picture {
  padding-right: 0;
}
/* 
    Created on : 21 mars 2014, 16:48:10
    Author     : guillaume
*/
.criteres {
  margin-top: 20px;
}
.criteres select {
  max-height: 1.5em;
  max-width: 100%;
}
.criteres .btn_shorcuts {
  margin-top: 1.2em;
}
.block_criteres {
  margin-bottom: 20px;
}
.size-135 {
  font-size: 1.35em;
}
.event {
  padding-top: 10px;
  padding-bottom: 10px;
}
.event .nom_soiree {
  display: inline-block;
  margin-bottom: 5px;
}
.event .icon {
  text-align: right;
  margin-right: 10px;
  min-width: 25px;
  position: relative;
  top: 4px;
}
.event .evenement_moment {
  color: #36a9e1;
  padding-left: 5px;
}
.event.odd {
  background-color: #f2f2f2;
}
.event .img {
  max-height: 200px;
}
.event .img.loading {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.event .image-gallery:hover {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.event .infos_evenement .border_bottom:last-child {
  border-bottom: none;
}
.event .infos_evenement,
.event .description_evenement {
  min-height: 150px;
}
@media (min-width: 992px) {
  .image_soiree {
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .event .image_soiree {
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .event .icon_description {
    font-size: 1em;
  }
  .event .image_soiree {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}
