/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2014, 14:12:15
    Author     : guillaume
*/
/*

To get this list of colors inject jQuery at http://www.google.com/design/spec/style/color.html#color-color-palette

Then, run this script to get the list.


(function() {
  var colors = {}, main = {};
  $(".color-group").each(function() {
    var color = $(this).find(".name").text().trim().toLowerCase().replace(" ", "-");
    colors[color] = {};

    $(this).find(".color").not(".main-color").each(function() {
      var shade = $(this).find(".shade").text().trim(),
          hex   = $(this).find(".hex").text().trim();

      colors[color][shade] = hex;
    });
    main[color] = color + "-" + $(this).find(".main-color .shade").text().trim();

  });
  var LESS = "";
  $.each(colors, function(name, shades) {
    LESS += "\n\n";
    $.each(shades, function(shade, hex) {
      LESS += "@" + name + "-" + shade + ": " + hex + ";\n";
    });
    if (main[name]) {
      LESS += "@" + name + ": " + main[name] + ";\n";
    }
  });
  console.log(LESS);
})();


*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2014, 18:05:06
    Author     : guillaume
*/
.hinclude_errors .error {
  display: none;
  width: 100%;
  text-align: center;
}
.include_404 .error_404 {
  display: inline-block;
}
.include_500 .error_500 {
  display: inline-block;
}
.include_404 .hinclude_no_error,
.include_500 .hinclude_no_error {
  display: none;
}
.panel-twitter {
  min-height: 400px;
}
.panel-twitter iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.tendances strong {
  display: block;
}
.buttons {
  margin-bottom: 15px;
}
html body #widgets .trait {
  padding-bottom: 5px;
  padding-top: 5px;
}
html body #widgets .trait a {
  display: block;
}
html body #widgets .trait small {
  font-style: italic;
}
html body #widgets .trait .user_profil_picture {
  padding-right: 0;
}
/* 
    Created on : 21 mars 2014, 16:48:10
    Author     : guillaume
*/
.block_criteres {
  margin-bottom: 20px;
}
.block_criteres select[multiple].form-control {
  display: none;
}
.block_criteres .main_criteres .form-group {
  margin-top: 15px;
}
.block_criteres .btn_shorcuts .btn {
  margin-top: 0;
  margin-bottom: 0;
}
.block_criteres .btn_criteres {
  margin-bottom: 0;
}
.criteres {
  margin-top: 10px;
}
.size-135 {
  font-size: 1.35em;
}
.event {
  padding-top: 10px;
  padding-bottom: 10px;
}
.event .description_evenement .fa {
  text-align: right;
  margin-right: 10px;
  min-width: 25px;
  position: relative;
  top: 4px;
}
.event.odd {
  background-color: #f2f2f2;
}
.event .image-container {
  position: relative;
}
.event .image-container .label {
  position: absolute;
  line-height: 2.4em;
  padding: 0 10px;
  top: 10px;
}
.event .image-container .label .fa {
  margin-right: 5px;
}
.event .img {
  max-height: 200px;
}
.event .img.loading {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.event .image-gallery:hover {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.event .infos_evenement .border_bottom:last-child {
  border-bottom: none;
}
.event .infos_evenement,
.event .description_evenement {
  min-height: 150px;
}
.event .image_soiree {
  padding-right: 0;
  text-align: center;
}
.event .image_soiree img {
  display: inline-block;
}
@media (min-width: 992px) {
  .image_soiree {
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .event {
    padding-top: 0;
    padding-bottom: 0;
  }
  .event .description_evenement,
  .event .infos_evenement {
    min-height: 50px;
  }
  .event .nom_soiree {
    font-size: 18px;
  }
  .event .description_evenement {
    margin-top: 10px;
  }
  .event .img {
    max-height: 100px;
  }
  .event .image_soiree {
    padding-right: 15px;
  }
}
