/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 mars 2014, 14:12:15
    Author     : guillaume
*/
/*

To get this list of colors inject jQuery at http://www.google.com/design/spec/style/color.html#color-color-palette

Then, run this script to get the list.


(function() {
  var colors = {}, main = {};
  $(".color-group").each(function() {
    var color = $(this).find(".name").text().trim().toLowerCase().replace(" ", "-");
    colors[color] = {};

    $(this).find(".color").not(".main-color").each(function() {
      var shade = $(this).find(".shade").text().trim(),
          hex   = $(this).find(".hex").text().trim();

      colors[color][shade] = hex;
    });
    main[color] = color + "-" + $(this).find(".main-color .shade").text().trim();

  });
  var LESS = "";
  $.each(colors, function(name, shades) {
    LESS += "\n\n";
    $.each(shades, function(shade, hex) {
      LESS += "@" + name + "-" + shade + ": " + hex + ";\n";
    });
    if (main[name]) {
      LESS += "@" + name + ": " + main[name] + ";\n";
    }
  });
  console.log(LESS);
})();


*/
.en-savoir-plus .bloc {
    margin-bottom: 50px;
}

.en-savoir-plus .label {
    margin-bottom: 30px;
    -webkit-box-shadow: 2px 2px 2px 1px #656565;
    font-size: 24px;
    display: inline-block;
}

.en-savoir-plus .label.odd {
    background-color: #5cb85c;
}

.en-savoir-plus .label.even {
    background-color: #337ab7;
}

.en-savoir-plus .icon {
    border-width: 1px;
    border-style: dotted;
    padding: 30px;
    margin-top: 30px;
    border-radius: 100%;
}

.en-savoir-plus .icon:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    border-style: solid;
}

.en-savoir-plus .icon:hover.odd {
    background-color: rgba(92, 184, 92, 0.15);
}

.en-savoir-plus .icon:hover.even {
    background-color: rgba(51, 122, 183, 0.15);
}

.en-savoir-plus .icon.odd {
    color: #5cb85c;
    border-color: #5cb85c;
}

.en-savoir-plus .icon.even {
    color: #337ab7;
    border-color: #337ab7;
}
