/*

To get this list of colors inject jQuery at http://www.google.com/design/spec/style/color.html#color-color-palette

Then, run this script to get the list.


(function() {
  var colors = {}, main = {};
  $(".color-group").each(function() {
    var color = $(this).find(".name").text().trim().toLowerCase().replace(" ", "-");
    colors[color] = {};

    $(this).find(".color").not(".main-color").each(function() {
      var shade = $(this).find(".shade").text().trim(),
          hex   = $(this).find(".hex").text().trim();

      colors[color][shade] = hex;
    });
    main[color] = color + "-" + $(this).find(".main-color .shade").text().trim();

  });
  var LESS = "";
  $.each(colors, function(name, shades) {
    LESS += "\n\n";
    $.each(shades, function(shade, hex) {
      LESS += "@" + name + "-" + shade + ": " + hex + ";\n";
    });
    if (main[name]) {
      LESS += "@" + name + ": " + main[name] + ";\n";
    }
  });
  console.log(LESS);
})();


*/
/* 
    Created on : 13 sept. 2014, 15:19:29
    Author     : Guillaume S. <guillaume@sainthillier.fr>
*/
.scrollable {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.scrollable.scrollable-large {
  max-height: 600px;
}
#widgets h4.modal-title {
  font-size: 17px;
}
#widgets h3.modal-title {
  font-size: 21px;
}
#widgets .widget {
  margin-bottom: 40px;
}
#widgets .widget .widget_item {
  padding: 10px 0;
  border-bottom: 1px solid white;
  border-top: 1px solid #CCC;
}
#widgets .widget .widget_item .item_title {
  margin-top: 2px;
  font-size: 14px;
}
#widgets .widget .widget_item:first-child {
  padding-top: 0;
  border-top: none;
}
#widgets .widget .widget_item .min_membre {
  padding-right: 0;
}
#widgets .widget .widget_item .min_membre img {
  max-height: 50px;
}
#widgets .widget .widget_item .min_membre .month {
  font-size: 1.3em;
}
#widgets .widget .widget_item .min_membre span {
  display: block;
}
#widgets .widget .widget_item .count {
  font-size: 2em;
  font-weight: 300;
}
#widgets .widget .scrollable {
  max-height: 500px;
}
#widgets .widget .scrollable.scrollable-large {
  max-height: 600px;
}
#widgets .widget .membres {
  max-height: 300px;
}
#widgets .widget .membres .fb_membres a {
  display: block;
  float: left;
}
#widgets .widget .tweet-list,
#widgets .widget .timeline-Tweet-actions {
  list-style: none;
  padding: 0;
}
#widgets .widget .timeline-TweetList-tweet {
  border-top: 1px solid rgba(15, 70, 100, 0.12);
}
#widgets .widget .Avatar {
  max-width: 100%;
  max-height: 100%;
}
#widgets .widget .timeline-Tweet {
  padding: 10px;
  margin-right: 10px;
}
#widgets .widget .timeline-Tweet-retweetCredit {
  margin-bottom: 8px;
  margin-left: 18px;
  font-size: 80%;
  color: #889ba6;
}
#widgets .widget .timeline-Tweet-retweetCreditIcon {
  position: relative;
  top: 1px;
  display: inline-block;
  margin-right: 4px;
  /*font-size: 80%;*/
}
#widgets .widget .timeline-Tweet-author {
  position: relative;
  margin-bottom: 2px;
  padding-left: 40px;
}
#widgets .widget .timeline-Tweet-inReplyTo {
  padding-left: 40px;
  /*font-size: 80%;*/
  font-weight: 300;
  color: #8899A6;
}
#widgets .widget .timeline-Tweet-text {
  margin-left: 40px;
  margin-bottom: 12px;
  /*font-size: 80%;*/
  line-height: 18px;
  font-weight: 400;
  /*white-space: pre-wrap;*/
  word-wrap: break-word;
}
#widgets .widget .timeline-Tweet-text[dir=ltr] {
  text-align: left;
  direction: ltr;
}
#widgets .widget .timeline-Tweet-text[dir=rtl] {
  text-align: right;
  direction: rtl;
}
#widgets .widget .timeline-Tweet-metadata {
  float: right;
  margin-top: 2px;
}
#widgets .widget .timeline-Tweet-timestamp {
  /*font-size: 80%;*/
  line-height: 18px;
}
#widgets .widget .timeline-Tweet-actions {
  margin-left: 40px;
}
#widgets .widget .timeline-Tweet-action {
  display: inline-block;
  /*font-size: 120%;*/
}
#widgets .widget .timeline-Tweet-action + .timeline-Tweet-action {
  margin-left: 20px;
}
#widgets .widget .timeline-Tweet--isRetweet {
  padding-top: 7px;
}
#widgets .widget .timeline-Tweet:hover {
  background-color: rgba(160, 200, 220, 0.12);
}
#widgets .widget .timeline-Tweet-timestamp,
#widgets .widget .timeline-Tweet-action a {
  color: #e1e8ed;
}
#widgets .widget .timeline-Tweet:hover .timeline-Tweet-timestamp,
#widgets .widget .timeline-Tweet:hover .timeline-Tweet-action a {
  color: #667580;
}
#widgets .widget .TweetAction:active,
#widgets .widget .TweetAction:focus,
#widgets .widget .TweetAction:hover {
  text-decoration: none;
}
#widgets .widget .TweetAction--heart:active .Icon,
#widgets .widget .TweetAction--heart:focus .Icon,
#widgets .widget .TweetAction--heart:hover .Icon {
  color: #ff5454;
}
#widgets .widget .TweetAction--share:active .Icon,
#widgets .widget .TweetAction--share:focus .Icon,
#widgets .widget .TweetAction--share:hover .Icon {
  color: #36a9e1;
}
#widgets .widget .TweetAction--reply:active .Icon,
#widgets .widget .TweetAction--reply:focus .Icon,
#widgets .widget .TweetAction--reply:hover .Icon {
  color: #bdea74;
}
#widgets .widget .TweetAuthor {
  max-width: 100%;
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  word-wrap: normal !important;
}
#widgets .widget .TweetAuthor-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 4px;
}
#widgets .widget .TweetAuthor-name {
  /*font-size: 80%;*/
  line-height: 18px;
  font-weight: 700;
}
#widgets .widget .TweetAuthor-screenName {
  /*font-size: 80%;*/
  line-height: 18px;
  font-weight: 300;
  color: #8899A6;
}
#widgets .widget .SandboxRoot.env-bp-min .TweetAuthor-avatar {
  position: static;
  top: auto;
  left: auto;
  float: left;
  margin-right: 8px;
}
#widgets .panel-default .panel-heading {
  background-color: white;
}

/*# sourceMappingURL=widgets.css.map */