/*

To get this list of colors inject jQuery at http://www.google.com/design/spec/style/color.html#color-color-palette

Then, run this script to get the list.


(function() {
  var colors = {}, main = {};
  $(".color-group").each(function() {
    var color = $(this).find(".name").text().trim().toLowerCase().replace(" ", "-");
    colors[color] = {};

    $(this).find(".color").not(".main-color").each(function() {
      var shade = $(this).find(".shade").text().trim(),
          hex   = $(this).find(".hex").text().trim();

      colors[color][shade] = hex;
    });
    main[color] = color + "-" + $(this).find(".main-color .shade").text().trim();

  });
  var LESS = "";
  $.each(colors, function(name, shades) {
    LESS += "\n\n";
    $.each(shades, function(shade, hex) {
      LESS += "@" + name + "-" + shade + ": " + hex + ";\n";
    });
    if (main[name]) {
      LESS += "@" + name + ": " + main[name] + ";\n";
    }
  });
  console.log(LESS);
})();


*/
/* 
    Created on : 13 sept. 2014, 15:19:29
    Author     : Guillaume S. <guillaume@sainthillier.fr>
*/
#widgets {
  /*
    @offset: 1;
    margin-top: 50px;

    // < 480px
    @media (max-width: @screen-xs-min)
        {
        padding-right: percentage(@offset / (2*@grid-columns));
        padding-left: percentage(@offset / (2*@grid-columns));
    }

    // [480px;781px]
    @media (min-width: @screen-xs) and (max-width: @screen-md)
        {
        padding-right: percentage(@offset / (0.5*@grid-columns));
        padding-left: percentage(@offset / (0.5*@grid-columns));
    }

    // [990px; 1200px;]
    @media (min-width: @screen-md) and (max-width: @screen-lg)
        {
        padding-right: percentage(@offset / (2*@grid-columns));
        padding-left: percentage(@offset / (2*@grid-columns));
    }

    // > 1200px
    @media (min-width: @screen-lg)
        {
        padding-right: percentage(@offset / (1.5*@grid-columns));
        padding-left: percentage(@offset / (1.5*@grid-columns));
    }

    h1, h2, h3, h4, h5, h6{
        color: #222;
        font-weight: bold;
    }
    
    */
}
#widgets h4.modal-title {
  font-size: 17px;
}
#widgets h3.modal-title {
  font-size: 21px;
}
#widgets .widget {
  margin-bottom: 40px;
}
#widgets .widget .widget_item {
  padding: 10px 0;
  border-bottom: 1px solid white;
  border-top: 1px solid #CCC;
}
#widgets .widget .widget_item .item_title {
  margin-top: 2px;
  font-size: 14px;
}
#widgets .widget .widget_item:first-child {
  padding-top: 0;
  border-top: none;
}
#widgets .widget .widget_item .min_membre {
  padding-right: 0;
}
#widgets .widget .widget_item .min_membre .month {
  font-size: 1.3em;
}
#widgets .widget .widget_item .min_membre span {
  display: block;
}
#widgets .widget .widget_item .count {
  font-size: 2em;
  font-weight: 300;
}
#widgets .widget .scrollable {
  max-height: 500px;
  overflow-y: auto;
  position: relative;
}
#widgets .widget .scrollable.scrollable-large {
  max-height: 600px;
}
#widgets .widget .membres {
  max-height: 300px;
}
#widgets .widget .membres .fb_membres a {
  display: block;
  float: left;
}
#widgets .panel-default .panel-heading {
  background-color: white;
}
