@import '../core';
@import 'tom-select/dist/scss/tom-select.bootstrap5';
@import 'tom-select/dist/scss/tom-select';
@import '@tabler/core/scss/vendor/tom-select';

.ts-wrapper.required:after {
    content: '';
}
