{% props titre = null, icon = null, bodyClass = '', showFooter = true %}
<div {{ attributes.defaults({class: 'widget card'}) }}>
    <h3 class="card-header">
        {% if icon %}<twig:Icon name="{{ icon }}" class="text-primary" />{% endif %}
        <span>{% block titre %}{{ titre }}{% endblock %}</span>
    </h3>
    <div class="card-body {{ bodyClass }}">
        {% block content %}{% endblock %}
    </div>
    {% if showFooter %}
        {% block footer %}
            <div class="card-footer"></div>
        {% endblock %}
    {% endif %}
</div>
