    /* 
    Created on : 21 mars 2014, 16:48:10
    Author     : guillaume
*/

.block_criteres {
    margin-bottom: 20px;
    
    select.form-control {
        display: none;
    }
    
    .btn_shorcuts {
        
        .btn {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    
    .btn_criteres {
        margin-bottom: 0;
    }
}

.size-135 {
    font-size: 1.35em;
}