    /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 mars 2014, 18:05:06
    Author     : guillaume
*/

@import "hinclude";

.panel-twitter {
    min-height: 400px;
    iframe {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.tendances {
    strong {
        display: block;
    }
}

.buttons {
    margin-bottom: 15px;
}

html body .trait {

    padding-bottom: 5px;
    padding-top: 5px;

    a {
        display: block;
    }

    small {
        font-style: italic;
    }

    .user_profil_picture {
        padding-right: 0;
    }
}