@import "../../../../../../web/less/variables";

/* 
    Created on : 13 sept. 2014, 15:19:29
    Author     : Guillaume S. <guillaume@sainthillier.fr>
*/

.scrollable {
  max-height: 500px;
  overflow: hidden;
  position: relative;
  width: 100%;

  &.scrollable-large {
    max-height: 600px;
  }
}

#widgets {

  h4.modal-title {
    font-size: 17px;
  }

  h3.modal-title {
    font-size: 21px;
  }

  .widget {
    margin-bottom: 40px;

    .widget_item {
      padding: 10px 0;
      border-bottom: 1px solid white;
      border-top: 1px solid #CCC;

      .item_title {
        margin-top: 2px;
        font-size: 14px;
      }

      &:first-child {
        padding-top: 0;
        border-top: none;
      }

      .min_membre {
        padding-right: 0;

        img {
          max-height: 50px;
        }
        .month {
          font-size: 1.3em;
        }

        span {
          display: block;
        }
      }

      .count {
        font-size: 2em;
        font-weight: 300;
      }
    }

    .scrollable {
      max-height: 500px;
      //overflow-y: hidden;
      //position: relative;

      &.scrollable-large {
        max-height: 600px;
      }
    }

    .membres {
      max-height: 300px;

      .fb_membres {
        a {
          display: block;
          float: left;
        }
      }
    }

    .tweet-list, .timeline-Tweet-actions {
      list-style: none;
      padding: 0;
    }

    .timeline-TweetList-tweet {
      border-top: 1px solid rgba(15,70,100,.12);
    }

    .Avatar {
      max-width: 100%;
      max-height: 100%;
    }

    .timeline-Tweet {
      padding: 10px;
      margin-right: 10px;
    }

    .timeline-Tweet-retweetCredit {
      margin-bottom: 8px;
      margin-left: 18px;
      font-size: 80%;
      color: #889ba6
    }

    .timeline-Tweet-retweetCreditIcon {
      position: relative;
      top: 1px;
      display: inline-block;
      margin-right: 4px;
      /*font-size: 80%;*/
    }

    .timeline-Tweet-author {
      position: relative;
      margin-bottom: 2px;
      padding-left: 40px
    }

    .timeline-Tweet-inReplyTo {
      padding-left: 40px;
      /*font-size: 80%;*/
      font-weight: 300;
      color: #8899A6
    }

    .timeline-Tweet-text {
      margin-left: 40px;
      margin-bottom: 12px;
      /*font-size: 80%;*/
      line-height: 18px;
      font-weight: 400;
      /*white-space: pre-wrap;*/
      word-wrap: break-word
    }

    .timeline-Tweet-text[dir=ltr] {
      text-align: left;
      direction: ltr
    }

    .timeline-Tweet-text[dir=rtl] {
      text-align: right;
      direction: rtl
    }

    .timeline-Tweet-metadata {
      float: right;
      margin-top: 2px
    }

    .timeline-Tweet-timestamp {
      /*font-size: 80%;*/
      line-height: 18px;
    }

    .timeline-Tweet-actions {
      margin-left: 40px
    }

    .timeline-Tweet-action {
      display: inline-block;
      /*font-size: 120%;*/
    }

    .timeline-Tweet-action+.timeline-Tweet-action {
      margin-left: 20px
    }

    .timeline-Tweet--isRetweet {
      padding-top: 7px
    }

    .timeline-Tweet:hover {
      background-color: rgba(160,200,220,.12);
    }

    .timeline-Tweet-timestamp, .timeline-Tweet-action a {
      color: #e1e8ed;
    }

    .timeline-Tweet:hover .timeline-Tweet-timestamp, .timeline-Tweet:hover .timeline-Tweet-action a {
      color: #667580
    }

    .TweetAction:active,.TweetAction:focus,.TweetAction:hover {
      text-decoration: none
    }

    .TweetAction--heart:active .Icon,.TweetAction--heart:focus .Icon,.TweetAction--heart:hover .Icon {
      color: #ff5454;
    }

    .TweetAction--share:active .Icon,.TweetAction--share:focus .Icon,.TweetAction--share:hover .Icon {
      color: #36a9e1;
    }
    .TweetAction--reply:active .Icon,.TweetAction--reply:focus .Icon,.TweetAction--reply:hover .Icon {
      color: #bdea74;
    }

    .TweetAuthor {
      max-width: 100%;
      overflow: hidden!important;
      text-overflow: ellipsis!important;
      white-space: nowrap!important;
      word-wrap: normal!important
    }

    .TweetAuthor-avatar {
      position: absolute;
      top: 0;
      left: 0;
      width: 32px;
      height: 32px;
      overflow: hidden;
      border-radius: 4px
    }

    .TweetAuthor-name {
      /*font-size: 80%;*/
      line-height: 18px;
      font-weight: 700
    }

    .TweetAuthor-screenName {
      /*font-size: 80%;*/
      line-height: 18px;
      font-weight: 300;
      color: #8899A6;
    }

    .SandboxRoot.env-bp-min .TweetAuthor-avatar {
      position: static;
      top: auto;
      left: auto;
      float: left;
      margin-right: 8px
    }

  }

  .panel-default {
    .panel-heading {
      background-color: white;
    }
  }
}

