{% extends "Admin/layout.html.twig" %}

{% block titre_admin 'Réseaux Sociaux' %}
{% block title_admin 'Paramétrage des Réseaux Sociaux' %}

{% block breadcrumb_admin -%}
    {% set item = menu.addItem('Réseaux Sociaux', path('app_administration_info_edit', {'id': info.id})) %}
{%- endblock %}

{% block body -%}
    {% for service in ['facebook','google','twitter'] %}
        <div class="bloc_config">
            {% include "Social/social_info.html.twig" with { 'info': info, 'service': service } %}
        </div>
    {% endfor %}
{%- endblock %}

{% block css -%}
    <link rel="stylesheet" href="{{ app_asset('admin/info/css/style.min.css') }}" type="text/css">
{%- endblock %}

{% block js -%}
    <script src="{{ app_asset('admin/info/js/login.min.js') }}" type="text/javascript"></script>
{%- endblock %}
