{% include "TBNAgendaBundle:Agenda:block_preview_soiree.html.twig" with({'events': events}) %}

{% if events|length == maxItems %}
    <div>
        <br />
        <a class="btn btn-lg btn-block btn-primary more" 
           href="{{ path('tbn_search_query', {'q' : term, 'page': page+1, 'type' : 'evenements'}) }}">
            Plus
        </a>
    </div>
{% endif %}
