/* 
    Created on : 13 sept. 2014, 15:01:14
    Author     : Guillaume S. <guillaume@sainthillier.fr>
*/

@import "variables.less";

html body {

    .modal-title {
        a {
            font-weight: 100;
        }
    }
    
    .margin-auto {
        margin-left: auto;
        margin-right: auto;
    }
    
    .share {
        display: block;        
        color: white;
        padding: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        
        i, span {
            line-height: 1em;
        }
        
        i {
            min-width: 1.3em;
            border-right: 1px solid white;
            margin-right: 10px;
            text-align: center;
        }
        
        &:hover {
            .opacity(.8);
            color: white;
        }
        
        &.facebook {
            background-color: #3b5998;
        }
        
        &.twitter {
            background-color: #48c4d2;
        }
        
        &.google-plus {
            background-color: #d94a39;
        }
    }
    
    .icon {
        display: inline-block;
        margin-top: 10px;
        
        &:before {
            border-radius: 50%;
            padding: 20px;
        }
    }
    
    .icon-red:before {
        color: @red-A200;
        border: 1px solid @red-A100;
    }
    .icon-orange:before {
        color: @orange-A200;
        border: 1px solid @orange-A100;
    }
    .icon-yellow:before {
        color: @lime-A200;
        border: 1px solid @lime-A100;
    }
    .icon-green:before {
        color: @light-green-A200;
        border: 1px solid @light-green-A100;
    }
    .icon-blue:before {
        color: @blue-A200;
        border: 1px solid @blue-A100;
    }
    .icon-darkblue:before {
        color: @deep-purple-A200;
        border: 1px solid @deep-purple-A100;
    }
    .icon-purple:before {
        color: @purple-A400;
        border: 1px solid @purple-A200;
    }
    
    .big-icon {
        &:before, &:after {
            margin-left: 0;
            font-size: 4em;
        }        
    }
    
    .paginate {
        margin-bottom: 0;
        line-height: 60px;
    }
    
    .shadow {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
    
    .full_width {
        width: 100%;
    }
    
    .no-padding {
        padding: 0;
    }
    .padding-left-10 {
        padding-left: 10px;
    }
    
    .no_margin_bottom {
        margin-bottom: 0;
    }
    
    .no_margin {
        margin: 0;
    }

    .bg-white {
        background-color: white!important;
    }
    
    .required:after {
        content: '*';
    }

    .border_bottom {
        border-bottom: 1px dashed darken(#ffffff, 15%);

        &:last-child {
            border-bottom: none;
        }
    }
    
    .component {
        .box-shadow(rgba(0, 0, 0, 0.298039) 0px 1px 5px -1px);
    }
    
    .count {
        font-size: 1.8em;
        font-weight: 300!important;
    }
    
    .thin {
        font-weight: 400!important;
    }
    
    .overlay {      
        
        margin: 5px;
        min-height: 115px;
        
        img {
            margin-right: 10px;
        }
    }
    
    .number {
        font-weight: 300;
        font-size: 1.2em;
        font-family: Roboto;
        
        &.number-sm {
            font-size: 0.8em;
        }
        
        &.number-big {
            font-size: 1.5em;
        }
        
        &.number-xbig {
            font-size: 1.8em;
        }
        
        &.number-xxbig {
            font-size: 2.5em;
        }
    }
    
    .date {
        font-size: 1.2em;
        font-weight: 300;
    }

    .trait {
        margin-top: 5px;
    }

/*    .img {
        margin: 0 auto;
    }*/
    
    .margin_bottom_30 {
        margin-bottom: 30px;
    }

    .separator_left {
        padding: 0 0 0 20px;
        font-weight: normal;
        position: relative;
        line-height: 50px;

        &.center {
            margin: 0;
            display: inline-block;
            .rotate(40deg);
        }

        &:after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            bottom: 0;
            width: 5px;
            border-radius: 2px;
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 0.3);
            background: rgb(0, 170, 255); 
        }
    }
}