{% extends 'layouts/default-stretch.html.twig' %}

{% block meta_title 'Connexion' %}
{% block title -%}
    Connectez-vous à votre espace <strong>By Night</strong>
{%- endblock %}

{% block breadcrumb -%}
    {% do menu.addItem('Connexion', url('app_login')) %}
{%- endblock %}

{% block meta_description 'Connectez-vous à votre compte By Night pour retrouver vos événements favoris, gérer vos sorties et partager vos découvertes.' %}

{% block body %}
    <form method="post" action="{{ path('app_login') }}">
        <div class="card">
            <div class="card-body">
                {{ include('security/login-content.html.twig', {partial: false}) }}
            </div>
            <div class="card-footer text-center py-2">
                <button class="btn btn-primary" type="submit" id="_submit" name="_submit" data-loading-text="Veuillez patienter...">
                    Se connecter
                </button>
            </div>
        </div>
        <p>
            Pas encore membre ?
            <a class="register" href="{{ path('app_register') }}"
               title="Créez votre compte gratuitement">
                Créez votre compte gratuitement !
            </a>
        </p>
    </form>
{% endblock %}
