{% extends 'layouts/modal-form.html.twig' %}

{% block titre 'Connectez-vous sur By Night' %}

{% block body -%}
    {% include 'security/login-content.html.twig' with({'partial': true}) %}
{%- endblock %}

{% block footer -%}
    <button class="btn btn-primary" type="submit" id="_submit" name="_submit" data-loading-text="Veuillez patienter...">
        Connexion
    </button>
{%- endblock %}

{% block form_action path('app_login') %}
