# Read the documentation: https://github.com/FriendsOfSymfony/FOSElasticaBundle/blob/master/doc/setup.md
fos_elastica:
    clients:
        default:
            hosts: ['%env(ELASTICSEARCH_URL)%']

    messenger: ~
    serializer:
        serializer: serializer

    indexes:
        event:
            indexable_callback: ['@App\Elasticsearch\EventIndexableChecker', 'isIndexable']
            settings:
                analysis:
                    filter:
                        french_elision:
                            type: elision
                            articles_case: true
                            articles:
                                - l
                                - m
                                - t
                                - qu
                                - n
                                - s
                                - j
                                - d
                                - c
                                - jusqu
                                - quoiqu
                                - lorsqu
                                - puisqu
                        french_stemmer:
                            type: stemmer
                            language: light_french
                    analyzer:
                        french_heavy: &french_heavy
                            tokenizer: icu_tokenizer
                            filter:
                                - french_elision
                                - icu_folding
                                - lowercase
                                - french_stemmer
                        french_light: &french_light
                            tokenizer: icu_tokenizer
                            filter:
                                - french_elision
                                - icu_folding
                                - lowercase
                        french_html_heavy:
                            <<: *french_heavy
                            char_filter:
                                - html_strip
                        french_html_light:
                            <<: *french_light
                            char_filter:
                                - html_strip
                        french_natural:
                            tokenizer: icu_tokenizer
                            filter:
                                - icu_folding
                                - lowercase
            persistence:
                model: App\Entity\Event
                repository: App\SearchRepository\EventElasticaRepository
                listener:
                    insert: true
                    update: true
                    delete: true
                provider:
                    query_builder_method: createIsActiveQueryBuilder
                    batch_size: 500
            serializer:
                groups:
                    - 'elasticsearch:event:details'
            properties:
                name:
                    type: text
                    analyzer: french_light
                    fields:
                        heavy:
                            type: text
                            analyzer: french_heavy
                description:
                    type: text
                    analyzer: french_html_light
                    fields:
                        heavy:
                            type: text
                            analyzer: french_html_heavy
                start_date:
                    type: date
                    format: yyyy-MM-dd
                end_date:
                    type: date
                    format: yyyy-MM-dd
                timesheets:
                    type: nested
                    properties:
                        start_at:
                            type: date
                            format: "yyyy-MM-dd'T'HH:mm:ss"
                        end_at:
                            type: date
                            format: "yyyy-MM-dd'T'HH:mm:ss"
                draft:
                    type: boolean
                place_name:
                    type: text
                    analyzer: french_natural
                place_street:
                    type: text
                    analyzer: french_natural
                place_city:
                    type: text
                    analyzer: french_natural
                place_postal_code:
                    type: text
                    analyzer: french_natural
                theme:
                    type: text
                    analyzer: french_natural
                type:
                    type: text
                    analyzer: french_natural
                place:
                    type: object
                    properties:
                        name:
                            type: text
                            analyzer: french_natural
                        street:
                            type: text
                            analyzer: french_natural
                        city_name:
                            type: text
                            analyzer: french_natural
                        city_postal_code:
                            type: text
                            analyzer: french_natural
                        city:
                            type: object
                            properties:
                                location:
                                    type: geo_point
                country:
                    type: object
                    properties:
                        id:
                            type: text
                            analyzer: french_natural
        city:
            settings:
                analysis:
                    analyzer:
                        text_analyzer:
                            tokenizer: icu_tokenizer
                            filter:
                                - icu_folding
                                - lowercase
            serializer:
                groups:
                    - 'elasticsearch:city:details'
            properties:
                name:
                    type: text
                    analyzer: text_analyzer
                postal_codes:
                    type: text
                    analyzer: text_analyzer
                population:
                    type: double
                country:
                    type: object
                    properties:
                        name:
                            type: text
                            analyzer: text_analyzer
                parent:
                    type: object
                    properties:
                        name:
                            type: text
                            analyzer: text_analyzer
            persistence:
                driver: orm
                model: App\Entity\City
                repository: App\SearchRepository\CityElasticaRepository
                provider:
                    query_builder_method: createElasticaQueryBuilder
                    batch_size: 5000
        user:
            settings:
                analysis:
                    analyzer:
                        text_analyzer:
                            tokenizer: icu_tokenizer
                            filter:
                                - icu_folding
                                - lowercase
            serializer:
                groups:
                    - 'elasticsearch:user:details'
            properties:
                username:
                    type: text
                    analyzer: text_analyzer
                firstname:
                    type: text
                    analyzer: text_analyzer
                lastname:
                    type: text
                    analyzer: text_analyzer
            persistence:
                model: App\Entity\User
                repository: App\SearchRepository\UserElasticaRepository
                provider:
                    batch_size: 1000

when@test:
    fos_elastica:
        indexes:
            event:
                persistence:
                    listener:
                        insert: false
                        update: false
                        delete: false
            city:
                persistence:
                    listener:
                        insert: false
                        update: false
                        delete: false
            user:
                persistence:
                    listener:
                        insert: false
                        update: false
                        delete: false
