# Read the documentation: https://github.com/FriendsOfSymfony/FOSElasticaBundle/blob/master/doc/setup.md
fos_elastica:
    clients:
        default:
            hosts: ['%env(ELASTICSEARCH_URL)%']

    messenger: ~
    serializer:
        serializer: serializer

    indexes:
        event:
            indexable_callback: ['@App\Elasticsearch\EventIndexableChecker', 'isIndexable']
            settings:
                index: &index_settings
                    number_of_shards: 1
                    number_of_replicas: 0
                    refresh_interval: 5s
                    codec: best_compression
                analysis:
                    filter:
                        french_elision: &french_elision_filter
                            type: elision
                            articles_case: true
                            articles: [l, m, t, qu, n, s, j, d, c, jusqu, quoiqu, lorsqu, puisqu]
                        french_stemmer:
                            type: stemmer
                            language: light_french
                    analyzer:
                        french_heavy: &french_heavy
                            tokenizer: icu_tokenizer
                            filter:
                                - french_elision
                                - icu_folding
                                - lowercase
                                - french_stemmer
                        french_light: &french_light
                            tokenizer: icu_tokenizer
                            filter:
                                - french_elision
                                - icu_folding
                                - lowercase
                        french_html_heavy:
                            <<: *french_heavy
                            char_filter:
                                - html_strip
                        french_html_light:
                            <<: *french_light
                            char_filter:
                                - html_strip
                        french_natural:
                            tokenizer: icu_tokenizer
                            filter:
                                - french_elision
                                - icu_folding
                                - lowercase
            persistence:
                model: App\Entity\Event
                repository: App\SearchRepository\EventElasticaRepository
                listener:
                    insert: true
                    update: true
                    delete: true
                provider:
                    query_builder_method: createIsActiveQueryBuilder
                    batch_size: 500
            serializer:
                groups:
                    - 'elasticsearch:event:details'
            properties:
                name:
                    type: text
                    analyzer: french_light
                    fields:
                        heavy:
                            type: text
                            analyzer: french_heavy
                description:
                    type: text
                    analyzer: french_html_light
                    fields:
                        heavy:
                            type: text
                            analyzer: french_html_heavy
                startDate:
                    type: date
                    format: yyyy-MM-dd
                endDate:
                    type: date
                    format: yyyy-MM-dd
                draft:
                    type: boolean
                placeName:
                    type: text
                    analyzer: french_natural
                placeStreet:
                    type: text
                    analyzer: french_natural
                placeCity:
                    type: text
                    analyzer: french_natural
                placePostalCode:
                    type: text
                    analyzer: french_natural
                type:
                    type: text
                    analyzer: french_natural
                category:
                    type: object
                    properties:
                        id:
                            type: integer
                        name:
                            type: text
                            analyzer: french_natural
                themes:
                    type: nested
                    properties:
                        id:
                            type: integer
                        name:
                            type: text
                            analyzer: french_natural
                place:
                    type: object
                    properties:
                        id:
                            type: integer
                        name:
                            type: text
                            analyzer: french_natural
                        street:
                            type: text
                            analyzer: french_natural
                        cityName:
                            type: text
                            analyzer: french_natural
                        cityPostalCode:
                            type: text
                            analyzer: french_natural
                        city:
                            type: object
                            properties:
                                id:
                                    type: integer
                                location:
                                    type: geo_point
                country:
                    type: object
                    properties:
                        id:
                            type: keyword
        city:
            settings:
                index: *index_settings
                analysis:
                    filter:
                        french_elision: *french_elision_filter
                        autocomplete_ngram: &autocomplete_ngram_filter
                            type: edge_ngram
                            min_gram: 2
                            max_gram: 15
                    analyzer:
                        text_analyzer: &text_analyzer
                            tokenizer: icu_tokenizer
                            filter:
                                - french_elision
                                - icu_folding
                                - lowercase
                        autocomplete_index: &autocomplete_index_analyzer
                            tokenizer: icu_tokenizer
                            filter:
                                - french_elision
                                - icu_folding
                                - lowercase
                                - autocomplete_ngram
            serializer:
                groups:
                    - 'elasticsearch:city:details'
            properties:
                name:
                    type: text
                    analyzer: text_analyzer
                    fields:
                        autocomplete:
                            type: text
                            analyzer: autocomplete_index
                            search_analyzer: text_analyzer
                postalCodes:
                    type: text
                    analyzer: text_analyzer
                    fields:
                        autocomplete:
                            type: text
                            analyzer: autocomplete_index
                            search_analyzer: text_analyzer
                population:
                    type: integer
                country:
                    type: object
                    properties:
                        name:
                            type: text
                            analyzer: text_analyzer
                parent:
                    type: object
                    properties:
                        name:
                            type: text
                            analyzer: text_analyzer
            persistence:
                driver: orm
                model: App\Entity\City
                repository: App\SearchRepository\CityElasticaRepository
                provider:
                    batch_size: 5000
        # When changing properties below, update User::shouldBeUpdated() accordingly
        user:
            settings:
                index: *index_settings
                analysis:
                    filter:
                        french_elision: *french_elision_filter
                    analyzer:
                        text_analyzer: *text_analyzer
            serializer:
                groups:
                    - 'elasticsearch:user:details'
            properties:
                username:
                    type: text
                    analyzer: text_analyzer
                firstname:
                    type: text
                    analyzer: text_analyzer
                lastname:
                    type: text
                    analyzer: text_analyzer
            persistence:
                model: App\Entity\User
                repository: App\SearchRepository\UserElasticaRepository
                provider:
                    batch_size: 1000
        tag:
            settings:
                index: *index_settings
                analysis:
                    filter:
                        french_elision: *french_elision_filter
                        autocomplete_ngram: *autocomplete_ngram_filter
                    analyzer:
                        text_analyzer: *text_analyzer
                        autocomplete_index: *autocomplete_index_analyzer
            serializer:
                groups:
                    - 'elasticsearch:tag:details'
            properties:
                name:
                    type: text
                    analyzer: text_analyzer
                    fields:
                        autocomplete:
                            type: text
                            analyzer: autocomplete_index
                            search_analyzer: text_analyzer
                slug:
                    type: keyword
            persistence:
                model: App\Entity\Tag
                repository: App\SearchRepository\TagElasticaRepository
                provider:
                    batch_size: 1000

when@test:
    fos_elastica:
        indexes:
            event:
                persistence:
                    listener:
                        insert: false
                        update: false
                        delete: false
            city:
                persistence:
                    listener:
                        insert: false
                        update: false
                        delete: false
            user:
                persistence:
                    listener:
                        insert: false
                        update: false
                        delete: false
            tag:
                persistence:
                    listener:
                        insert: false
                        update: false
                        delete: false
