framework:
    messenger:
        failure_transport: failed

        transports:
            failed: '%env(MESSENGER_FAILED_TRANSPORT_DSN)%'
            failed-event:
                dsn: '%env(MESSENGER_FAILED_EVENT_TRANSPORT_DSN)%'
            parser:
                dsn: '%env(MESSENGER_PARSER_TRANSPORT_DSN)%'
                failure_transport: failed-event
                retry_strategy:
                    max_retries: 0
            async:
                dsn: '%env(MESSENGER_ASYNC_TRANSPORT_DSN)%'
                retry_strategy:
                    max_retries: 10
                    delay: 10000
            elastica: '%env(MESSENGER_ELASTICA_TRANSPORT_DSN)%'

        routing:
            App\Dto\EventDto: parser
            App\Message\PurgeCdnCacheUrl: async
            App\Message\RemoveImageThumbnails: async
            FOS\ElasticaBundle\Message\AsyncPersistPage: elastica
            App\Elasticsearch\Message\InsertManyDocuments: async
            App\Elasticsearch\Message\ReplaceManyDocuments: async
            App\Elasticsearch\Message\DeleteManyDocuments: async
            App\Elasticsearch\Message\DeleteManyByIdentifierDocuments: async

when@test:
    framework:
        messenger:
            transports:
                async: 'in-memory://'
                elastica: 'in-memory://'
                failed: 'in-memory://'
                failed-event: 'in-memory://'
                parser: 'in-memory://'
