framework:
    messenger:
        # Uncomment this (and the failed transport below) to send failed messages to this transport for later handling.
        failure_transport: failed

        # https://symfony.com/doc/current/messenger.html#transport-configuration
        transports:
            failed: '%env(MESSENGER_FAILED_TRANSPORT_DSN)%'
            failed-event:
                dsn: '%env(MESSENGER_FAILED_EVENT_TRANSPORT_DSN)%'
            parser:
                dsn: '%env(MESSENGER_PARSER_TRANSPORT_DSN)%'
                failure_transport: failed-event
                retry_strategy:
                    max_retries: 0
            async:
                dsn: '%env(MESSENGER_ASYNC_TRANSPORT_DSN)%'
                retry_strategy:
                    max_retries: 10
                    delay: 10000
            elastica: '%env(MESSENGER_ELASTICA_TRANSPORT_DSN)%'
            sync: 'sync://'

        routing:
            # Route your messages to the transports
            App\Dto\EventDto: parser
            App\Message\PurgeCdnCacheUrl: async
            App\Message\RemoveImageThumbnails: async
            FOS\ElasticaBundle\Message\AsyncPersistPage: elastica
            App\Elasticsearch\Message\RefreshElasticaIndex: elastica
            App\Elasticsearch\Message\InsertManyDocuments: async
            App\Elasticsearch\Message\ReplaceManyDocuments: async
            App\Elasticsearch\Message\DeleteManyDocumentsByIdentifiers: async

when@test:
    framework:
        messenger:
            #            # replace with your transport name here (e.g., my_transport: 'in-memory://')
            #            # For more Messenger testing tools, see https://github.com/zenstruck/messenger-test
            transports:
                async: 'in-memory://'
                elastica: 'in-memory://'
                failed: 'in-memory://'
                failed-event: 'in-memory://'
                parser: 'in-memory://'
