twig:
    file_name_pattern: '*.twig'
    form_themes:
        - 'form/fields.html.twig'
    globals:
        menu: '@white_october_breadcrumbs'
        social_manager: '@App\App\SocialManager'
        userProfilePicture: '@App\Picture\UserProfilePicture'
        eventProfilePicture: '@App\Picture\EventProfilePicture'
        facebook_app_id: '%env(FACEBOOK_API_ID)%'
        googleMapKey: '%google_map_key%'
        sentry_dsn: '%env(SENTRY_DSN)%'
        app_version: '%env(APP_VERSION)%'
        event_seo: '@App\SEO\EventSEO'
        app_context: '@App\App\AppContext'
        city_manager: '@App\App\CityManager'

when@test:
    twig:
        strict_variables: true
