{% extends 'reset-password/layout.html.twig' %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <p class="lead">Changez votre mot de passe avec votre adresse mail</p>
    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email) }}
        <div class="text-center">
            <button class="btn btn-raised btn-primary" type="submit">Réinitialiser le mot de passe</button>
        </div>
    {{ form_end(requestForm) }}
{% endblock %}
