{% extends 'reset-password/layout.html.twig' %}

{% block breadcrumb_reset %}
    {% do menu.addItem("Étape 3/3", url('app_reset_password')) %}
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h2 class="card-title h4 mb-0">Réinitialisez maintenant votre mot de passe</h2>
        </div>
        <div class="card-body">
            {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Réinitialiser le mot de passe</button>
            </div>
            {{ form_end(resetForm) }}
        </div>
    </div>
{% endblock %}
