*.md
.*
!.env
node_modules
tests
var
vendor
public/bundles
public/build
public/sitemap
docker-compose.*
Dockerfile
jsconfig.json
LICENSE
phpstan-baseline.neon
phpstan.dist.neon
phpunit.xml.dist
rector.php
