###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

#Public datas
/public/sitemap/*
/public/bundles/*
/public/uploads/*
/public/prod/*
/public/media/*

#Assets
/config/mapping_assets.yaml

#NodeJS
node_modules/

#Pollution
/.idea/
.docker-sync/
/npm-debug.log
/composer.phar
*.php~
###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
