services:
    app:
        build: .
        env_file:
            - .env
            - .env.local
        volumes:
            - ./:/app
        ports:
            - 8080:80
    worker:
        command: 'worker'
        build: .
        env_file:
            - .env
            - .env.local

    redis:
        image: redis:alpine
        ports:
            - 6379:6379

    rabbitmq:
        image: rabbitmq:4.1-management-alpine
        hostname: 'mabbit'
        ports:
            - 5672:5672
            - 15672:15672
        volumes:
            - rabbitmq:/var/lib/rabbitmq

    elasticsearch:
        build: docker/elasticsearch
        environment:
            - 'discovery.type=single-node'
            - 'bootstrap.memory_lock=true'
            - 'ES_JAVA_OPTS=-Xms1024m -Xmx1024m'
            - 'xpack.security.enabled=false'
            - 'xpack.security.enrollment.enabled=false'
        ulimits:
            memlock:
                soft: -1
                hard: -1
        ports:
            - 9200:9200
        volumes:
            - esdata:/usr/share/elasticsearch/data

    kibana:
        image: docker.elastic.co/kibana/kibana:${ELK_STACK_VERSION}
        ports:
            - 5601:5601
        depends_on:
            - elasticsearch

volumes:
    esdata:
    rabbitmq:
