parameters:
    level: 6
    tmpDir: var/tools/phpstan
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    strictRules:
        booleansInConditions: false
        disallowedEmpty: false
        disallowedShortTernary: false
        overwriteVariablesWithLoop: false
        strictArrayFilter: false
        illegalConstructorMethodCall: true
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: missingType.generics
        - '#is not the same as PHPDoc type .+ of overridden property#'
        - '#should be contravariant with parameter#'
        - identifier: doctrine.columnType
        - identifier: doctrine.associationType
        - identifier: staticMethod.dynamicCall
        - identifier: cast.useless
        - identifier: nullsafe.neverNull
        - identifier: property.notFound
        - identifier: property.dynamicName
        - identifier: equal.notAllowed
        - identifier: method.childReturnType
        - identifier: assign.propertyType
        - identifier: varTag.type
        - identifier: property.unusedType
          paths:
              - src/Entity
