{% extends 'layouts/modal-form.html.twig' %}

{% block title 'Créez votre compte gratuitement' %}

{% block body -%}
    {{ include('registration/register-content.html.twig', {partial: true}) }}
    <p class="mb-0">
        Déjà membre ?
        <a class="login" href="{{ path('app_login') }}" title="Connectez-vous à votre compte">
            Connectez-vous ici.
        </a>
    </p>
{%- endblock %}

{% block footer -%}
    <button class="btn btn-primary" type="submit">
        Créer mon compte
    </button>
{%- endblock %}

{% block form_action path('app_register') %}
