{% extends 'layouts/default-stretch.html.twig' %}

{% block title 'Inscription' %}

{% block page_title -%}
    Créez votre compte gratuitement
{%- endblock %}

{% block breadcrumb -%}
    {% do menu.addItem('Inscription', url('app_register')) %}
{%- endblock %}

{% block meta_description 'Rejoignez By Night gratuitement pour découvrir des milliers d\'événements, créer les vôtres et les partager avec votre communauté.' %}

{% block body %}
    {{ form_start(form, {action: path('app_register')}) }}
    <div class="card">
        <div class="card-body">
            {{ include('registration/register-content.html.twig', {partial: false}) }}
        </div>
        <div class="card-footer text-center py-2">
            <button class="btn btn-primary" type="submit">
                Créer mon compte
            </button>
        </div>
    </div>
    <p>
        Déjà membre ?
        <a class="login" href="{{ path('app_login') }}" title="Connectez-vous à votre compte">
            Connectez-vous ici.
        </a>
    </p>
    {{ form_end(form) }}
{% endblock %}
