{% extends "TBNAdministrationBundle::layout.html.twig" %}

{% block breadcrumb_administration %}    
    {% set test = menu.addItem("Info", path('tbn_administration_info_index')) %}
    {% block breadcrumb_info %}{% endblock %}
{% endblock %}

{% block title_administration %}
    {% block title_info %}{% endblock %}
{% endblock %}
    
{% block titre_administration %}
    {% block titre_info %}{% endblock %}
{% endblock %}
    
{% block body_administration %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading bg-white">
                    <h2 class="modal-title">Réseau sociaux</h2>
                </div>
                <div class="panel-body">
                    {% block body_info %}{% endblock %}
                </div>                
            </div>
        </div>
    </div>
{% endblock %}

{% block css_administration %}
    {% stylesheets 'bundles/tbnsocial/css/social_login.css'
        output='prod/css/administration/info/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" >
    {% endstylesheets %}       
{% endblock %}

{% block js_administration %}
    {% javascripts 
        '@TBNSocialBundle/Resources/public/js/SocialLogin.js'
        output='prod/js/administration/info/login.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
