{% set alert = {
    'google': 'Supprimer mes infos sur Google',
    'facebook': "L'ensemble de vos informations seront supprimées!",
    'twitter': 'Supprimer mes infos sur twitter',
} %}

{% set textes = {
    'google': 'En vous deconnectant de Google+, vous ne pourrez poster automatiquement vos événements publiés sur '~  site.nom  ~' By Night via le réseau social.',
    'facebook': 'En vous deconnectant de Facebook, vous ne pourrez poster automatiquement vos événements publiés sur '~  site.nom  ~' By Night via le réseau social.',
    'twitter': 'En vous deconnectant de Twitter, vous ne pourrez twitter automatiquement vos événements publiés sur '~  site.nom  ~' By Night via le réseau social.',
} %}

{% set textes_input = {
    'google': 'Supprimer aussi tous les posts de '~  site.nom  ~' By Night sur Google+',
    'facebook': 'Supprimer aussi tous les posts de '~  site.nom  ~' By Night sur Facebook',
    'twitter': 'Supprimer aussi tous les tweets de '~  site.nom  ~' By Night sur Twitter',
} %}



{{
{
    'next_step' : path('tbn_disconnect_service_confirmed', {'service' : service}),
    'titre': 'Déconnexion de ' ~ service|capitalize ,
    'msg': "<p>" ~ textes[service]~ "</p><br /><label>"~textes_input[service]~" <input type='checkbox' value=''/></label><div class='hidden no_margin alert alert-danger'><i class='fa fa-warning'></i> Cette action est irréversible!</div>"
}|json_encode|raw
}}