<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">Modifier</button>
        <a class="pull-right" title="Retourner à mes infos" href="{{ path('fos_user_profile_show') }}">Retour</a>
    </div>
</form>
