{% include '_partials/event/list-widget.html.twig' %}
{% if hasNextLink %}
    <a class="more-content btn btn-outline-primary btn-block" href="{{ hasNextLink }}">Plus ({{ current }}
        / {{ count }})</a>
{% endif %}
