<div class="row">
    {% for name, social in shares %}
        <div class="col-6">
            <a href="{{ social.shareUrl }}" class="popup share {{ name }}">
                <twig:Icon name="{{ 'fa7-brands:' ~ name }}" class="icon-2x" />
                <span class="number number-xbig">Partager</span>
            </a>
        </div>
    {% endfor %}
</div>
