{# @var iterable<App\Entity\User> users #}
{% props users %}

<div class="row row-cards row-deck">
    {% for i, user in users %}
        <div class="col-sm-6 col-lg-4 col-xl-3">
            <twig:User:ItemCard user="{{ user }}" cardLayout="card-layout-vertical" />
        </div>
    {% endfor %}
</div>
