{# @var iterable<App\Entity\User> users #}
{% props users %}

<div class="row row-cards row-deck">
    {% for user in users %}
        <div class="col-lg-6">
            <twig:User:ItemCard user="{{ user }}" />
        </div>
    {% endfor %}
</div>
