{% extends "bundles/FOSUserBundle/Resetting/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block breadcrumb_reset %}
    {% do menu.addItem("Étape 2", url('fos_user_resetting_request')) %}
{% endblock %}

{% block fos_user_content %}
    <div class="alert alert-success">
        <i class="fa fa-check"></i> {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
    </div>
{% endblock %}
