{% if user.showSocials %}
    {% set info = user.info %}

    {% if info and (info.facebookAccessToken or info.twitterNickname or info.googleAccessToken) %}
        <hr/>
    {% endif %}

    {% if info.facebookAccessToken %}
        <a class="social-facebook social" href="https://www.facebook.com/{{ info.facebookId }}"
           title="{{ info.facebookRealname }} sur Facebook">
            <i class="fa fa-facebook"></i>
        </a>
    {% endif %}

    {% if info.twitterNickname %}
        <a class="social-twitter social" href="https://twitter.com/{{ info.twitterNickname }}"
           title="{{ info.twitterRealname }} sur Twitter">
            <i class="fa fa-twitter"></i>
        </a>
    {% endif %}
{% endif %}
