{% if user.showSocials %}
    {% set oAuth = user.oAuth %}

    {% if oAuth and (oAuth.facebookAccessToken or oAuth.twitterNickname) %}
        <hr/>
    {% endif %}

    {% if oAuth.facebookAccessToken %}
        <a class="social-facebook social" href="https://www.facebook.com/{{ oAuth.facebookId }}"
           title="{{ oAuth.facebookRealname }} sur Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
    {% endif %}

    {% if oAuth.twitterNickname %}
        <a class="social-twitter social" href="https://twitter.com/{{ oAuth.twitterNickname }}"
           title="{{ oAuth.twitterRealname }} sur Twitter">
            <i class="fab fa-twitter"></i>
        </a>
    {% endif %}
{% endif %}
