{% extends "FOSUserBundle:Resetting:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block breadcrumb_reset %}
    {% set item = menu.addItem("Étape 2", path('fos_user_resetting_request')) %}
{% endblock %}

{% block fos_user_content %}

    <div class="alert alert-info">
        <i class="fa fa-info-circle"></i> {{ 'resetting.check_email'|trans({'%email%': email})|raw }}
    </div>

{% endblock %}
