{% extends "FOSUserBundle:Resetting:layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block titre_reset %}
    Étape 1
{% endblock %}

{% block breadcrumb_reset %}
    {% set item = menu.addItem("Étape 1", path('fos_user_resetting_request')) %}
{% endblock %}

{% block fos_user_content %}
    <div class="alert alert-danger">
        <i class="fa fa-warning"></i>
        {{ 'resetting.password_already_requested'|trans }}
    </div>
{% endblock fos_user_content %}
