{% trans_default_domain 'FOSUserBundle' %}

<p>
    Vous avez perdu votre mot de passe ? Retrouvez-le ici
</p>
<br/>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        {% if invalid_username is defined %}
            <div class="alert alert-danger">
                <i class="fa fa-warning"></i> {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
            </div>
        {% endif %}
        <label for="username">{{ 'resetting.request.username'|trans }}</label>
        <input class="form-control" type="text" id="username" name="username" required="required"/>
    </div>
    <div>
        <button class="btn btn-primary" type="submit">{{ 'resetting.request.submit'|trans }}</button>
    </div>
</form>
