{% import 'form/macros.html.twig' as macros %}

{% if success is defined %}
    <div class="alert alert-success alert-dismissible fade show">
        {{ macros.icon('fa6-solid:check') }}
        {% block success_confirmation_message 'Merci d\'avoir donné votre avis !' %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-hidden="true" title="Fermer"></button>
    </div>
{% endif %}
