<h3 class="heading">
    <span>{{ comments.nbResults }} Commentaire{{ comments.nbResults > 1 ? 's' }}</span>
    {% if comments.nbResults == 0 %}
        <small class="text-muted">Soyez le premier à réagir</small>
    {% endif %}
</h3>
