{% for comment in comments %}
    {{ include('comment/item.html.twig', {comment: comment}) }}
{% endfor %}

{% if comments.hasNextPage %}
    <div class="load-more" data-url="{{ path('app_comment_list', {id: event.id, page: comments.nextPage}) }}">
        <button type="button" class="btn btn-outline-primary">
            Plus de messages
        </button>
    </div>
{% endif %}
