<div class="comments-container">
    <h4 class="heading">
        {{ comments.nbResults }} Commentaire{{ comments.nbResults > 1 ? 's' }}
        {% if comments.nbResults == 0 %}
            <small class="text-muted">Soyez le premier à réagir</small>
        {% endif %}
    </h4>
    {{ include('comment/form.html.twig') }}

    {% if comments.nbResults > 0 %}
        {{ include('comment/list.html.twig') }}
    {% endif %}
</div>
