<div class="comments-container">
    <h3 class="heading">
        <span>{{ comments.nbResults }} Commentaire{{ comments.nbResults > 1 ? 's' }}</span>
        {% if comments.nbResults == 0 %}
            <small class="text-muted">Soyez le premier à réagir</small>
        {% endif %}
    </h3>
    <div class="card">
        <div class="card-body card-body-form">
            {{ include('comment/form.html.twig') }}
        </div>

        {% if comments.nbResults > 0 %}
            <div class="card-body scrollable" style="max-height: 600px">
                {{ include('comment/list.html.twig') }}
            </div>
        {% endif %}
    </div>
</div>
