<div class="comments">
    <h4 class="heading">
        {{ comments.totalItemCount }} Commentaire{{ comments.totalItemCount > 1 ? 's' }}
        {% if comments.totalItemCount == 0 %}
            <small class="text-muted">Soyez le premier à réagir</small>
        {% endif %}
    </h4>
    {% include 'comment/form.html.twig' %}

    {% if comments.totalItemCount > 0 %}
        {% include 'comment/list.html.twig' %}
    {% endif %}
</div>
