{% extends 'base.html.twig' %}

{% block layout %}
    {% include 'layouts/_flash-messages.html.twig' %}
    {% block layout_header '' %}
    <div class="{% block container_class 'container' %}" id="{% block page_id 'page' %}">
        <h1>{% block titre 'Hello' %}</h1>
        {% block layout_body %}{% block body %}{% endblock %}{% endblock %}
    </div>
{% endblock %}
