{% extends "base.html.twig" %}

{% block layout %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1>{% block titre 'Hello' %}</h1>
            </div>
        </div>
    </div>
    <div class="{% block container_class 'container' %}" id="container">
        {% include "layouts/_flash_messages.html.twig" %}
        {% if no_ads is not defined %}{% include 'ad.html.twig' %}{% endif %}
        {% block body %}{% endblock %}
        {% if no_ads is not defined %}{% include 'ad2.html.twig' %}{% endif %}
    </div>
{% endblock %}
