{% extends 'base.html.twig' %}

{% block layout %}
    <div class="{% block container_class 'container' %}" id="{% block page_id 'page' %}">
        <h1>{% block titre 'Hello' %}</h1>
        {% include 'layouts/_flash-messages.html.twig' %}
        {% block body %}{% endblock %}
    </div>
{% endblock %}
