{% extends 'base.html.twig' %}

{% block layout_top %}
    {{ include('layouts/_flash-messages.html.twig', {container_class: block('container_class')}) }}
    {% block layout_header '' %}
    <div class="page-header">
        <div class="{{ block('container_class') }}">
            <h1>{% block page_title block('title') %}</h1>
            {% block title_after '' %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="{% block container_class 'container' %}">
        {% block layout_body '' %}
    </div>
{% endblock %}
