{% extends "base.html.twig" %}

{% block layout %}
    <div class="{% block container_class 'container' %}" id="container">
        <h1>{% block titre 'Hello' %}</h1>
        {% include "layouts/_flash_messages.html.twig" %}
        {% block body %}{% endblock %}
    </div>
{% endblock %}
