{% extends 'layouts/modal-form.html.twig' %}

{% block modal %}
<div class="modal fade" id="{% block modal_id '' %}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        {{ parent() }}
    </div>
</div>
{% endblock %}
