{%- block modal -%}
    <form action="{% block form_action'#' %}" method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{% block titre 'By Night' %}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% block body %}{% endblock %}
                </div>
                <div class="modal-footer">
                    {% block footer %}{% endblock %}
                    <button type="button" class="btn btn-outline-secondary btn_retour" data-bs-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </form>
{%- endblock -%}
