{% extends "layouts/simple.html.twig" %}

{% block layout_body %}
    <div class="row">
        <div class="col-md-10 col-lg-8 col-xl-6 offset-xl-3 offset-lg-2 offset-md-1">
            {% block body %}{% endblock %}
        </div>
    </div>
{% endblock %}
