{% extends 'base.html.twig' %}

{% block layout_top %}
    {{ include('layouts/_flash-messages.html.twig', {container_class: block('container_class')}) }}
    {% block layout_header '' %}
    <div class="page-header">
        <h1>{% block page_title block('title') %}</h1>
    </div>
{% endblock %}

{% block layout_body %}
    <div class="{% block container_class 'container' %}" id="container">
        {% block body '' %}
    </div>
{% endblock %}
