{% extends 'base.html.twig' %}

{% block layout %}
<div id="{% block page_id 'page' %}">
    <h1>{% block titre 'Hello' %}</h1>
    <div class="{% block container_class 'container' %}" id="container">
        {% include 'layouts/_flash-messages.html.twig' %}
        {% block body %}{% endblock %}
    </div>
</div>
{% endblock %}
