{% extends "layouts/default.html.twig" %}

{% block head_js_layout %}
    <script type="text/javascript">
        var fbAppId = "{{ facebook_app_id }}";
    </script>
{% endblock %}

{% block layout %}
    <div class="container-fluid">
        <h1>{% block titre 'Hello' %}</h1>
    </div>
    <div class="container-fluid" id="container-fluid">
        <div class="row no-gutters">
            <div id="content" class="col-md-8">
                <div class="col-lg-11 offset-lg-1">
                    {% block body %}{% endblock %}
                </div>
            </div>
            <div class="col-md-4" id="widgets">
                <div class="col-lg-11 offset-lg-1">
                    {% block widgets %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
