@import "../../bower/bootstrap-material-design/less/_colors";
@import "material";
@import "theme";

@primary: @indigo-500;
@info: @indigo-300;
@warning: @color-warning;

@secondary: @color-warning;

@linkColor: #0091FF;

@color-primary:         #36A9E1;
@color-success:         #bdea74;
@color-info:            #67c2ef;
@color-warning:         #fabb3d;
@color-danger:          #ff5454;
