{% extends "TBNUserBundle::layout.json.twig" %}

{% block titre_espace %}
    Me déconnecter de {{ service|capitalize }}
{% endblock %}

{% block form_action_espace %}
    {{ path('tbn_disconnect_service', {'service' : service}) }}
{% endblock %}
{% block fos_user_content %}
    <p>
        {% block texte %}
            En vous deconnectant de {{ service|capitalize }}, vous ne pourrez poster vos événements sur le réseau social.
        {% endblock %}
    </p>
{% endblock %}

{% block modal_buttons_espace %}
    <input type="submit" class="btn btn-primary" data-loading-text="Veuillez patienter..." value="Continuer"
           id="disconnect_social"/>
{% endblock %}
