{% extends "bundles/FOSUserBundle/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title_espace 'Inscription réussie' %}
{% block titre_espace 'Inscription réussie' %}
    
{% block breadcrumb %}
    {% do menu.addItem("Inscription", url('fos_user_registration_register')) %}
{% endblock %}

{% block fos_user_content %}
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
    <br/>

    <div class="spinner-grow text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <span>Vous allez être redirigé vers la page d'accueil ...</span>
{% endblock fos_user_content %}

{% block head_js %}
    <meta http-equiv="refresh" content="3; url={{ path('app_main_index') }}">
{% endblock %}
