parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    mailer_port:            ~
    app_name:               %secret%
    api_facebook_id:        %secret%
    api_facebook_secret:    %secret%
    google_app_id:          %secret%
    google_app_secret:      %secret%
    google_map_key:         %secret%
    twitter_app_id:         %secret%
    twitter_app_secret:     %secret%
    base_host:              ~
