security:
    encoders:
        FOS\UserBundle\Model\UserInterface: sha512
 
    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_USER
 
    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email
 
    firewalls:
        dev:
            pattern:  ^/(_(profiler|wdt)|css|img|js|prod)/
            security: false
 
        main:
            pattern: ^/
            form_login:
                provider: fos_userbundle
                csrf_token_generator: security.csrf.token_manager
                login_path: /login
                check_path: /login_check
                success_handler: authentication_handler
                failure_handler: authentication_handler
            oauth:
                remember_me: true
                resource_owners:
                    facebook_admin:    "/login-social/check-facebook-admin"
                    facebook_events:    "/login-social/check-facebook-events"
                    facebook_list_events:    "/login-social/check-facebook-list-events"
                    facebook:           "/login-social/check-facebook"
                    google:             "/login-social/check-google"
                    twitter:            "/login-social/check-twitter"
                login_path:        /login
                failure_path:      /login
 
                oauth_user_provider:
                    #this is my custom user provider, created from FOSUBUserProvider - will manage the
                    #automatic user registration on your site, with data from the provider (facebook. google, etc.)
                    service: my_user_provider
            logout:       true
            anonymous:    true
 
        login:
            pattern:  ^/login$
            security: false
 
            remember_me:
                secret: "%secret%"
                lifetime: 31536000 # 365 days in seconds
                path: /
                domain: ~ # Defaults to the current domain from $_SERVER
 
    access_control:
        - { path: ^/espace-perso, role: IS_AUTHENTICATED_REMEMBERED }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/_administration, role: ROLE_ADMIN }
