{% extends 'layouts/simple.html.twig' %}

{% block breadcrumb %}
    {% do menu.addItem("A propos", url('app_about')) %}
{% endblock %}

{% block title 'A propos de By Night' %}
{% block titre 'A propos de By Night' %}
{% block meta_description 'A propos du site by-night.fr.' %}

{% block body %}
    <h2 class="text-center mb-4">By Quoi ?</h2>
    <p>
        <strong>By Night</strong> est une solution
        de création d'événements en ligne sur-mesure et self service.
    </p>
    <p>
        Las de ne pas trouver une solution simple et <strong>gratuite</strong> pour organiser
        nos événements, nous avons décidé en 2013 de créer notre propre service
        et de vous en faire profiter !
    </p>
    <p>
        C’est comme ça que By Night est né !
    </p>
    <p>
        Notre volonté : vous aider à organiser des événements réussis et vous
        faire atteindre le plus grand nombre d'auditeurs potentiels.
    </p>
    <p>
        By Night permet à tous les organisateurs d’événements de créer facilement
        et d’une façon très abordable un ecosystème de communication en s'appuyant
        sur les réseaux sociaux. Que vous soyez un particulier ou un
        professionnel, que vous organisiez une petite soirée entre amis ou le concert
        d'Eminem, le service proposé par By Night s’adapte à tous
        vos besoins. Les mots d’ordre : gain de temps, simplicité et popularité !
    </p>
    <p>
        Notre souhait : Proposer à nos auditeurs tous les événements qui peuvent combler
        leurs envies de sortie !
    </p>
    <p>
        En rassemblant et classant le maximum d’événements proche de chez vous,
        la plateforme By Night souhaite devenir un guide pertinent pour vos soirées.
        Une envie de jazz à Toulouse ce soir ? Un concert de rap à Bordeaux ou un
        match de foot à Lyon ? L'équipe By Night vous donne accès aux événements qui
        répondent au mieux à vos attentes !
    </p>
{% endblock %}
