{% extends 'layouts/simple.html.twig' %}

{% block breadcrumb %}
    {% do menu.addItem("Cookies", url('app_main_cookie')) %}
{% endblock %}

{% block titre 'Cookies / Vie privée' %}
{% block title 'Cookies / Vie privée' %}
{% block meta_description 'Notre politique concernant vos cookies et votre vie privée.' %}

{% block body %}
    <br/>
    <p class="lead text-center">Nous souhaitons vous informer de manière claire et transparente sur l'usage des
        cookies lors de votre navigation sur ses sites web et mobiles.</p>

    <h2>Qu'est-ce qu'un cookie ?</h2>

    <p>Un cookie (ou témoin de connexion) est un ensemble de données stocké sur le disque dur de votre terminal
        (ordinateur, tablette, mobile) par le biais de votre logiciel de navigation à l'occasion de la consultation d'un
        service en ligne.</p>

    <p>Les cookies enregistrés par nous ou par des tiers lorsque vous visitez nos sites ne vous reconnaissent pas
        personnellement en tant qu'individu, mais reconnaissent seulement l'appareil que vous êtes en train d'utiliser.
        Les cookies ne stockent aucune donnée personnelle sensible mais donnent simplement une information sur votre
        navigation de façon à ce que votre terminal puisse être reconnu plus tard.</p>

    <p>Les cookies ne causent aucun dommage à votre appareil, mais permettent plus facilement par exemple de retrouver
        vos préférences, de pré-remplir certains champs et d'adapter le contenu de nos services.</p>

    <p>Vous seul(e) choisissez si vous souhaitez avoir des cookies enregistrés sur votre appareil et vous pouvez
        facilement contôler l'enregistrement des cookies. Pour une information spécifique sur la gestion et le contrôle
        des cookies, veuillez-vous référer à la rubrique 3. Vos choix concernant les cookies.</p>

    <h2>Quels sont les cookies présents sur nos sites ?</h2>

    <h3>2.1 Les cookies fonctionnels</h3>
    <p>Les cookies fonctionnels que nous émettons nous permettent :</p>
    <ul>
        <li>d'adapter la présentation de nos sites et espaces publicitaires aux préférences d'affichage de votre
            terminal (langue utilisée, résolution d'affichage, système d'exploitation utilisé, etc), selon les matériels
            et les logiciels de visualisation ou de lecture que votre terminal comporte ;
        </li>
        <li>d'améliorer votre expérience utilisateur en pré-remplissant certains champs de nos formulaires</li>
    </ul>


    <h3>2.2 Les cookies de statistiques (ou analytiques)</h3>
    <p>Les cookies analytiques que nous émettons nous permettent de mieux connaître nos sites et d'améliorer nos
        services en établissant des statistiques et volumes de fréquentation et d'utilisation.</p>

    <h3>2.3 Les cookies publicitaires</h3>
    <p>Les cookies publicitaires servent à afficher des publicités plus pertinentes pour vous et vos centres d'intérêts.
        Ils sont aussi utilisés pour limiter le nombre de fois où vous voyez une publicité et pour aider à mesurer
        l'efficacité d'une campagne publicitaire. Leur durée de vie est de 60 jours.</p>

    <h3>2.4 Les cookies émis par des tiers</h3>
    <p>Lorsque vous visitez nos sites, certains cookies ne sont pas enregistrés par nous mais par des tiers partenaires
        pour la diffusion de publicité ciblée. Pour plus d'informations sur les cookies enregistrés par nos partenaires,
        nous vous suggérons de visiter leur site.</p>
    <ul>
        <li>Google: <a href="https://www.google.fr/intl/fr/policies/technologies/cookies/" rel="nofollow">https://www.google.fr/intl/fr/policies/technologies/cookies/</a>
        </li>
    </ul>

    <h2>Vos choix concernant les cookies</h2>
    <p>Il est important de noter que tout paramétrage que vous pouvez entreprendre sera susceptible de modifier votre
        navigation sur Internet et vos conditions d'accès à certains services nécessitant l'utilisation de cookies.</p>

    <p>Si vous refusez l'enregistrement de ces derniers dans votre terminal, ou si vous supprimez ceux qui y sont
        enregistrés, vous ne pourrez plus bénéficier d'un certain nombre de fonctionnalités qui peuvent être nécessaires
        pour naviguer dans certains espaces de nos sites.</p>

    <p>Vous pouvez faire le choix à tout moment d'exprimer et de modifier vos souhaits, par les moyens décrits
        ci-dessous :</p>

    <h3>3.1 Les choix qui vous sont offerts par votre logiciel de navigation</h3>

    <p>Vous pouvez configurer votre logiciel de navigation de manière à ce que des cookies soient enregistrés dans votre
        terminal ou, au contraire, qu'ils soient rejetés. Certains navigateurs vous permettent de définir des règles
        pour gérer les cookies site par site.</p>

    <p>Pour la gestion des cookies, la configuration de chaque navigateur est différente. Elle est décrite dans le menu
        d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits :</p>
    <ul>
        <li>Pour Internet Explorer™ : <a href="http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies"
                                         rel="nofollow">http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies</a>
        </li>
        <li>Pour Safari™ : <a href="http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html"
                              rel="nofollow">http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html</a>
        </li>
        <li>Pour Chrome™ : <a href="http://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647"
                              rel="nofollow">http://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647</a>
        </li>
        <li>Pour Firefox™ : <a href="http://support.mozilla.org/fr/kb/activer-desactiver-cookies" rel="nofollow">http://support.mozilla.org/fr/kb/activer-desactiver-cookies</a>
        </li>
        <li>Pour Opera™ : <a href="http://help.opera.com/Windows/10.20/fr/cookies.html" rel="nofollow">http://help.opera.com/Windows/10.20/fr/cookies.html</a>
        </li>
    </ul>

    <h3>3.2 Vos choix exprimés en ligne auprès de plateformes interprofessionnelles</h3>
    <p>By Night s'engage à respecter de bonnes pratiques concernant l'usage des cookies publicitaires et vous conseille
        de vous connecter au site <a href="http://www.youronlinechoices.com/fr/controler-ses-cookies/" rel="nofollow">http://www.youronlinechoices.com/fr/controler-ses-cookies/</a>.
        Cette plate-forme partagée par de nombreux professionnels de la publicité sur Internet vous offre la possibilité
        de refuser ou d'accepter les cookies publicitaires utilisés par ces entreprises.</p>

    <p>Notez que cette procédure n'empêchera pas l'affichage de publicités sur les sites Internet que vous visitez. Elle
        ne bloquera que les technologies qui permettent d'adapter des publicités à vos centres d'intérêts.</p>
{% endblock %}
