{% extends 'layouts/default.html.twig' %}

{% block breadcrumb %}
    {% do menu.addItem('Comment ça marche', url('app_plus')) %}
{% endblock %}

{% block meta_title 'Comment publier un événement sur By Night' %}
{% block title 'Comment ça marche ?' %}
{% block meta_description 'Publiez votre événement gratuitement sur By Night en 4 étapes simples : configurez, communiquez, contrôlez et analysez vos résultats.' %}

{% block body %}
    <div class="card">
        <h2 class="card-header">Publiez vos événements en 4 étapes</h2>
        <div class="learn-more">
            <div class="card-body">
                <div class="row block align-items-center">
                    <div class="col-sm-4 text-center">
                        <span class="icon-wrapper even"><twig:Icon name="lucide:settings" class="icon-5x" /></span>
                    </div>
                    <div class="col-sm-8">
                        <h3 class="badge even">Configurez</h3>
                        <p>
                            Créez gratuitement votre événement en quelques minutes,
                            sans aucune connaissance technique. Définissez vos tarifs,
                            choisissez entre événement public ou privé, préparez vos brouillons...
                            By Night met à votre disposition tous les outils nécessaires
                            pour garantir le succès de vos événements.
                        </p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="row block align-items-center">
                    <div class="col-sm-4 text-center">
                        <span class="icon-wrapper odd"><twig:Icon name="lucide:megaphone" class="icon-5x" /></span>
                    </div>
                    <div class="col-sm-8">
                        <h3 class="badge odd">Communiquez</h3>
                        <p>
                            Boostez votre auditoire grâce à nos outils de communication !
                            Personnalisez vos événements à votre image, et la plateforme
                            s'occupe pour vous de les diffuser sur les réseaux sociaux !
                            Créez une communauté autour de vos évènements et développez votre audience
                            grâce aux membres de By Night !
                        </p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="row block align-items-center">
                    <div class="col-sm-4 text-center">
                        <span class="icon-wrapper even"><twig:Icon name="lucide:eye" class="icon-5x" /></span>
                    </div>
                    <div class="col-sm-8">
                        <h3 class="badge even">Contrôlez</h3>
                        <p>
                            Gardez la main sur vos événements à tout moment.
                            Modifiez les informations, gérez la visibilité et suivez
                            les interactions de votre communauté depuis votre espace personnel.
                        </p>
                    </div>
                </div>
            </div>
            <hr />
            <div class="card-body">
                <div class="row block align-items-center">
                    <div class="col-sm-4 text-center">
                        <span class="icon-wrapper odd"><twig:Icon name="lucide:bar-chart" class="icon-5x" /></span>
                    </div>
                    <div class="col-sm-8">
                        <h3 class="badge odd">Analysez</h3>
                        <p>
                            Un tableau de bord vous permet de piloter vos événements et
                            votre communication en temps réel. Menez des actions de
                            communication, analysez leurs impacts et touchez plus de personnes !
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
