{% extends 'layouts/simple.html.twig' %}

{% block breadcrumb %}
    {% do menu.addItem("En savoir plus", url('app_plus')) %}
{% endblock %}

{% block title 'En savoir plus' %}
{% block titre 'Comment ça marche ?' %}
{% block meta_description 'Vous ne savez pas comment notre service fonctionne ? Vos réponses ici.' %}

{% block body %}
    <h2 class="text-center">Vos événements en 4 actions : </h2>
    <br />
    <div class="en-savoir-plus">
        <div class="row bloc align-items-center">
            <div class="col-sm-4 text-center">
                <span class="icon even"><i class="fa fa-5x fa-cogs"></i></span>
            </div>
            <div class="col-sm-8">
                <h3 class="badgeeven">Configurez</h3>
                <p>
                    3 minutes suffisent pour créer gratuitement votre événement !
                    Commencez à les diffuser sur internet sans connaissance
                    technique quelque soit votre événement et sa taille.
                    Éditez plusieurs types (entrées, tarifs réduits),
                    rendez votre événement public ou privé, créez vos brouillons...
                    By Night vous propose tout un card de fonctionnalités pour garantir
                    le succès de vos événements !
                </p>
            </div>
        </div>
        <hr />
        <div class="row bloc align-items-center">
            <div class="col-sm-4 text-center">
                <span class="icon odd"><i class="fa fa-5x fa-bullhorn"></i></span>
            </div>
            <div class="col-sm-8">
                <h3 class="badgeodd">Communiquez</h3>
                <p>
                    Boostez votre auditoire grâce à nos outils de communication !
                    Personnalisez vos événements à votre image, et la plateforme
                    s'occupe pour vous de les diffuser sur les réseaux sociaux !
                    Créez une communauté autour de vos évènements et développez votre audience
                    grâce aux membres de By Night !
                </p>
            </div>
        </div>
        <hr />
        <div class="row bloc align-items-center">
            <div class="col-sm-4 text-center">
                <span class="icon even"><i class="fa fa-5x fa-eye"></i></span>
            </div>
            <div class="col-sm-8">
                <h3 class="badgeeven">Contrôlez</h3>
                <p>
                    Contrôlez les événements de manière simple, sûre et efficace !
                </p>
            </div>
        </div>
        <hr />
        <div class="row bloc align-items-center">
            <div class="col-sm-4 text-center">
                <span class="icon odd"><i class="fa fa-5x fa-bar-chart-o"></i></span>
            </div>
            <div class="col-sm-8">
                <h3 class="badgeodd">Analysez</h3>
                <p>
                    Un tableau de bord vous permet de piloter vos événements et
                    votre communication en temps réel. Menez des actions de
                    communication, analysez leurs impacts et touchez plus de personnes !
                </p>
            </div>
        </div>
        <br />
        <br />
        <div class="text-center">
            <a class="btn btn-outline-primary btn-block" href="{{ path('app_event_new') }}">
                Créez votre événement dès maintenant
            </a>
        </div>
    </div>
{% endblock %}
