# .circleci/config.yml
version: 2
jobs:
    build:
        docker:
            - image: circleci/buildpack-deps:stretch
              environment:
                  IMAGE_NAME: guystlr/by-night
        steps:
            - checkout
            - setup_remote_docker:
                  docker_layer_caching: true

            - run:
                  name: "Build and push Docker image"
                  command: |
                      IMAGE_TAG="2.2.${CIRCLE_BUILD_NUM}"
                      APP_VERSION="${IMAGE_TAG}@${CIRCLE_SHA1:0:7}"
                      docker build -t ${IMAGE_NAME}:${IMAGE_TAG} --build-arg APP_VERSION=${APP_VERSION} .

                      if [ "${CIRCLE_BRANCH}" == "master" ]; then
                          docker tag ${IMAGE_NAME}:${IMAGE_TAG} ${IMAGE_NAME}:latest
                      fi
                      echo ${DOCKER_PWD} | docker login -u ${DOCKER_LOGIN} --password-stdin
                      docker push ${IMAGE_NAME}
    deploy:
        machine:
            enabled: true
        steps:
            - add_ssh_keys:
                  fingerprints:
                      - "51:2c:bf:10:3d:c0:16:08:6f:23:ae:79:8e:cb:82:9b"
            - run:
                  name: "Deploy image to production"
                  command: |
                      ssh guillaume@${PRODUCTION_SERVER_IP} "cd ${PRODUCTION_SERVER_PATH} && sudo /bin/bash ./deploy.sh ${IMAGE_NAME}:latest"
                  environment:
                      IMAGE_NAME: guystlr/by-night

workflows:
    version: 2
    build-and-deploy:
        jobs:
            - build
            - deploy:
                  requires:
                      - build
                  filters:
                      branches:
                          only: master
