{% for fbUser in membres -%}
    {% set picture = fbUser.getProperty('picture') %}
    {% if picture is not null %}
        <a href="https://www.facebook.com/{{ fbUser.getProperty('id') }}">
            <img width="50" height="50" src="{{ fbUser.getProperty('picture').getProperty('url') }}" />
        </a>
    {% endif %}
{%- endfor %}
{% if hasNextLink %}
    <a class="more-content btn btn-primary btn-raised btn-block" href="{{ hasNextLink }}">Plus</a>
{% endif %}
