<div class="hinclude_no_error">
    <i class="fa fa-spinner fa-spin"></i>
</div>

<div class="hinclude_errors">
    <div class="error error_404">        
        <i class="fa fa-info-circle"></i> La page est introuvable
    </div>
    <div class="error error_500">
        <i class="fa fa-info-circle"></i> Une erreur interne est survenue
    </div>
</div>
