{% block error_message %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" title="Fermer">&times;</button>
        <i class="fa fa-warning"></i> 
        Vous devez être connecté pour laisser un message
    </div>
{% endblock %}
