<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v4.0&appId={{ facebook_app_id }}&autoLogAppEvents=1"></script>
<div id="fb-container" class="widget">
    <div class="fb-page"
         data-href="https://www.facebook.com/by.night.fr/"
         data-small-header="false"
         data-adapt-container-width="true"
         data-hide-cover="false"
         data-show-facepile="false"
    >
        <blockquote cite="https://www.facebook.com/by.night.fr/" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/by.night.fr/">By Night</a>
        </blockquote>
    </div>
</div>
