{% import 'form/macros.html.twig' as macros %}
<div class="widget card {% block widget_class '' %}" {% block widget_attr '' %}>
    <h3 class="card-header">
        {{ macros.icon(block('icon'), 'text-primary') }}
        <span>{% block titre '' %}</span>
    </h3>
    {% block icon_block %}{% block icon '' %}{% endblock %}
    <div class="card-body {% block widget_body_class '' %}">
        {% block body %}{% endblock %}
    </div>
    {% block footer %}
        <div class="card-footer"></div>
    {% endblock %}
</div>
