<div class="widget card {% block widget_class '' %}" {% block widget_attr '' %}>
    <h3 class="card-header">
        <i class="text-primary fa {% block icon '' %}"></i>
        <span>{% block titre '' %}</span>
    </h3>
    <div class="card-body {% block widget_body_class '' %}">
        <div class="scroll-wrapper">
            <div class="scroll-area scroll-area-vertical {% block scroll_area_class '' %}">
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
    {% block footer %}
        <div class="card-footer more-container"></div>
    {% endblock %}
</div>
