<twig:Widget:Scrollable titre="À la une cette semaine" icon="lucide:star" bodyClass="p-0" id="une">
    <div class="list-group scroll-area-content">
        {{ include('location/hinclude/events.html.twig', {
            topEventsData: topEventsData,
        }) }}
    </div>
</twig:Widget:Scrollable>
