<twig:Widget:Scrollable header="À la une cette semaine" icon="lucide:star" bodyClass="p-0" id="featured" showFooter="{{ topEventsData.hasNextPage }}">
    <div class="list-group scroll-area-content">
        {{ include('location/hinclude/events.html.twig', {
            topEventsData: topEventsData,
        }) }}
    </div>
</twig:Widget:Scrollable>
