{% extends 'location/widget/template-scrollable.html.twig' %}

{% block titre %}Les supers membres{% endblock %}
{% block widget_class %}{% endblock %}
{% block widget_body_class 'p-0' %}
{% block widget_attr %}id="membres"{% endblock %}
{% block icon %}fa-users{% endblock %}

{% block body %}
    <div class="list-group scroll-area-content">
        {{ render_esi(controller('App\\Controller\\Fragments\\WidgetsController::topMembers')) }}
    </div>
{% endblock %}
