<twig:Widget:Scrollable header="Les supers membres" icon="lucide:users" bodyClass="p-0" id="members">
    <div class="list-group scroll-area-content">
        {{ include('location/hinclude/top-users.html.twig', {
            topUsersData: topUsersData,
        }) }}
    </div>
</twig:Widget:Scrollable>
