$color-primary: #36a9e1;
$color-success: #bdea74;
$color-info: #67c2ef;
$color-warning: #fabb3d;
$color-danger: #ff5454;

$bgColor: #f0f0f0;

$primary: #3f51b5;
$info: #fabb3d;
$warning: $color-warning;

$linkColor: #0091ff;
$white: #fff;

//RFS
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;

//Navbar
$navbar-dark-color: rgba($white, 0.84);
$navbar-dark-hover-color: $white;
$navbar-dark-active-color: $white;

//Breadcrumb
$breadcrumb-bg: white;
$breadcrumb-margin-bottom: 0;
