@import 'core';

//Vendors
@import 'ui/tabler';

//Components
@import 'components/icons';
@import 'components/alert';
@import 'components/autocomplete';
@import 'components/badge';
@import 'components/breadcrumb';
@import 'components/buttons';
@import 'components/card';
@import 'components/charts';
@import 'components/collections';
@import 'components/comment';
@import 'components/criteres';
@import 'components/event';
@import 'components/footer';
@import 'components/form';
@import 'components/images';
@import 'components/menu_droit';
@import 'components/modal';
@import 'components/nav';
@import 'components/navbar';
@import 'components/page';
@import 'components/pagination';
@import 'components/placeholder';
@import 'components/print';
@import 'components/scroll';
@import 'components/social_icons';
@import 'components/social_login';
@import 'components/table';
@import 'components/typography';
@import 'components/utilities';
@import 'components/widgets';

//Pages
@import 'pages/en_savoir_plus';
@import 'pages/erreurs';
@import 'pages/event_details';
@import 'pages/event_index';
@import 'pages/user_details';
@import 'pages/user_event_crud';

:root,
:host,
[data-bs-theme='light'] {
    --#{$prefix}body-bg: #{$body-bg};
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
}

h1 {
    text-align: center;
    letter-spacing: -2px;
    margin: 0;

    strong {
        font-weight: 300;
    }
}

/* To fill the container and nothing else */
.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

#toTop {
    text-decoration: none;
    position: fixed;
    bottom: 2%;
    right: 2%;
    z-index: 100;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-content: center;

    &.hidden {
        display: none;
    }

    .icon {
        margin: 0;
        vertical-align: middle;
    }

    @include media-breakpoint-up(lg) {
        width: 3rem;
        height: 3rem;
    }
}
