{% if events.nbResults > 0 %}
    {% include "City/Event/block_preview_event.html.twig" with({'events': events, 'page': page}) %}
    {% include "ad2.html.twig" %}
    {% if events.hasNextPage %}
        <div class="text-center my-4">
            <a id="paginate"
               class="btn btn-outline-primary"
               href="{{ path(app.request.get('_route'), routeParams) }}">
               Plus d'événements
            </a>
        </div>
    {% endif %}
{% endif %}
