{% if events|length > 0 %}
    {% include "City/Event/block_preview_event.html.twig" with({'events': events, 'page': page}) %}
    {% include "ad2.html.twig" %}
    {% if events|length == maxPerEvent %}
        <div>
            <a id="paginate"
               class="btn btn-outline-primary btn-block my-4"
               href="{{ paginateURL }}"
               data-next="{{ (page + 1) }}">
               Plus d'événements
            </a>
        </div>
    {% endif %}
{% endif %}
