{% if events|length > 0 %}
    {% if partial and page > 1 %}
        <hr/>
    {% endif %}
    {% include "City/Event/block_preview_event.html.twig" with({'events': events, 'page': page}) %}
    {% include "ad2.html.twig" %}
    {% if events|length == maxPerEvent %}
        <div>
            <a id="paginate"
               class="btn btn-outline-primary btn-block mt-4"
               href="{{ paginateURL }}"
               data-next="{{ (page + 1) }}">
                <i class="fa fa-chevron-down"></i> Plus d'événements
            </a>
        </div>
    {% endif %}
{% endif %}
