.badge {
    margin-right: 0.125rem;

    strong {
        font-weight: normal;
    }
}

a.badge {
    &:hover {
        color: white;
    }

    &.bg-info:hover {
        background-color: darken($info, 10%) !important;
    }
}
