#bread {
    background-color: white;
    border-bottom: 1px solid #0000001a;

    .btn {
        border-radius: 0;
    }

    .btn .fa {
        width: 14px;
    }
}

.breadcrumb {
    padding: 0.75rem 0;

    &.collapsed {
        white-space: nowrap;
        overflow: hidden;
        flex-wrap: nowrap;
    }

    a {
        color: $primary;

        &:hover,
        &:focus {
            color: #222;
        }
    }
}

.breadcrumb-item {
    max-width: 100%;
    flex: 0 auto;
    display: inline-block;

    &:first-child {
        flex: 0 0 auto;
        flex-shrink: 0.5;
    }

    &:last-child {
        flex: 1 0 auto !important;
    }
}

.breadcrumb > li + li:before {
    content: '>';
    color: #222;
}

@include media-breakpoint-down(md) {
    .breadcrumb-item {
        font-size: $font-size-sm;
    }
}

@include media-breakpoint-down(sm) {
    #bread {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .breadcrumb.collapsed .breadcrumb-item {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &,
        &:last-child::before {
            display: none;
        }

        &:last-child {
            padding-left: 0;
            display: block;
        }
    }
}
