.card {
    margin-bottom: 1rem;
    font-size: 1rem;
    border: none;
    box-shadow: $box-shadow;

    .card {
        box-shadow: none;
        border: 1px solid $card-border-color;
    }
}

.card-header-border-top {
    border-top: 1px solid $card-border-color;
}

@include media-breakpoint-down(sm) {
    .card-body {
        padding: 1rem;
    }
}
