.card {
    margin-bottom: 1rem;
    font-size: 1rem;
    border: none;
    box-shadow: $box-shadow;

    .card-header {
        .fa,
        .icon {
            margin-right: 0.25em;
        }
    }

    .card {
        box-shadow: none;
        border: 1px solid $card-border-color;
    }

    & > .alert,
    & > .row > .col .alert,
    & > .row > * > .alert {
        border-radius: 0;

        &:first-child {
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
        }
    }
}

.card-header-border-top {
    border-top: 1px solid $card-border-color;
}

@include media-breakpoint-down(sm) {
    .card-body {
        padding: 1rem;
    }
}

.card-img-container {
    border-bottom: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
}

.card-layout {
    flex-direction: row;

    .card-content {
        display: flex;
    }

    &.card-layout-vertical {
        .card-img-container,
        .card-content {
            width: 100%;
        }
    }
}
