.block_poster_commentaire {
    .col-user-profile {
        display: flex;
        align-items: center;
        flex-flow: row;
        margin-bottom: 0.25rem;
    }
}

.block_poster_commentaire .col-user-profile,
.comments .comment {
    .image-wrapper {
        max-width: 50px;
    }

    @include media-breakpoint-up(md) {
        .image-wrapper {
            max-width: 100%;
        }
    }
}

.comments {
    .comment {
        margin-bottom: 30px;

        .infos {
            margin-bottom: 10px;

            span {
                margin-left: 10px;
            }
        }
    }

    .block_reponses {
        .comment {
            margin-bottom: 10px;
        }
    }

    .block_post {
        margin-top: 10px;
    }
}
