@import '../variables';

.event {
    .image-container {
        position: relative;

        .badge {
            padding: 0.5em 1em;
            position: absolute;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            top: 10px;
            z-index: 1;
        }
    }

    .detail-item {
        margin-bottom: 0.125rem;
    }

    .card-body {
        padding: 0.5rem 0.75rem;
    }

    @include media-breakpoint-down(md) {
        .card-body {
            padding: 0.75rem;
        }
    }

    .image-gallery {
        border-bottom: 1px solid $card-border-color;
        text-align: center;
    }
}

@include media-breakpoint-up(sm) {
    .event {
        .image-gallery {
            border-bottom: none;
        }
    }
}
