.filter-block {
    margin-bottom: 20px;

    select[multiple].form-control {
        display: none;
    }

    .shortcuts-btn {
        .btn {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .filter-toggle-btn {
        margin-bottom: 0;
    }
}

.filters {
    margin-top: 10px;
}

.size-135 {
    font-size: 1.35em;
}
