$tailleFooter: 100px;

#wrap {
  min-height: 100%;
  height: auto;
}

// Footer =====================================================================
#footer {
  border-top: solid 5px $primary;
  min-height: (2* $tailleFooter) + 30px;
  padding: 1rem 0;
  background-color: rgb(34, 34, 34);
  color: $bgColor;

  a {
	color: $linkColor;

	&:hover, &:focus {
	  color: $warning;
	}
  }

  .social {
	text-align: left;
	border: 1px solid transparent;
	display: block;
	width: 100%;
	padding: 0 1rem;
	height: 50px;
	line-height: 50px;
	font-size: 35px;
	margin-bottom: 0.5rem;

	&:last-child {
	  margin-bottom: 0;
	}

	&:hover {
	  color: $warning;
	  border: 1px dashed rgba(175, 162, 162, 0.78);
	  background-color: rgba(202, 189, 189, 0.09);
	  opacity: 0.7;
	}

	.fa {
	  width: 1em;
	}

	span {
	  font-size: 30px;
	  color: #E9EFF5;
	}
  }

  .love {
	font-size: 20px;
  }

  //Petit Téléphone (< 481px)
  @include media-breakpoint-down(sm) {
	.social {
	  display: inline-block;
	  width: 49%;
	}
  }

  hr {
	background-color: rgba(255, 255, 255, 0.25);
  }
}
