//$input-icon-color: $primary-border-subtle;

form {
    margin: 0;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control[readonly].form-control-readonly {
    background-color: $input-bg;
}

.no-margin-form {
    .form-group {
        margin-top: 0;
    }
}

.delete-image .checkbox {
    padding-top: 0;
}

.required:after {
    content: '*';
}

.collection-item-header > .remove-collection {
    z-index: 2;
}

/**
Icon input
 */
.input-icon,
.was-validated .input-icon {
    position: relative;

    .form-control:not(:first-child),
    .form-select:not(:first-child),
    .collection-item:not(:first-child) .form-control,
    .collection-item:not(:first-child) .form-select,
    .form-control:not(:first-child):invalid,
    .form-select:not(:first-child):invalid,
    .form-control.is-invalid:not(:first-child),
    .form-select.is-invalid:not(:first-child),
    .ts-wrapper:not(:first-child) .ts-control,
    .ts-wrapper:not(:first-child).multi.has-items .ts-control,
    .collection-item:not(:first-child) .ts-wrapper .ts-control {
        padding-left: 2.5rem;
    }

    .form-control:not(:last-child),
    .form-select:not(:last-child),
    .collection-item:not(:last-child) .form-control,
    .collection-item:not(:last-child) .form-select,
    .ts-wrapper:not(:last-child) .ts-control,
    .ts-wrapper:not(:last-child).multi.has-items .ts-control,
    .collection-item:not(:last-child) .ts-wrapper .ts-control {
        padding-right: 2.5rem;
    }

    .form-select {
        background-image: none;
    }
}

.input-icon-addon {
    //--#{$prefix}icon-color: #{$input-icon-color};
    z-index: 2;
}

.table .form-check {
    margin-bottom: 0;
}
