@mixin card-icon($iconSize) {
    font-size: $iconSize / 2;
    height: $iconSize;
    width: $iconSize;
    line-height: $iconSize;
    text-align: center;

    background-color: white;
    border: 1px solid $primary;
    border-radius: 50px;

    position: absolute;
    bottom: -$iconSize / 2 - 5px;
    right: 0;
    z-index: 2;
}

.tendances {
    strong {
        display: block;
    }
}

.buttons {
    margin-bottom: 1rem;
}

#widgets .trait {
    padding-bottom: 5px;
    padding-top: 5px;

    a {
        display: block;
    }

    small {
        font-style: italic;
    }

    .user_profil_picture {
        padding-right: 0;
    }
}
