.tab-content {
    padding-left: 0;
    padding-right: 0;
}

.nav .nav-link {
    text-transform: uppercase;
    font-size: 0.875rem;
}

.nav-tabs {
    flex-wrap: nowrap;
}

.nav-tabs.bg-primary {
    .nav-link {
        opacity: 0.76;
        font-weight: normal;

        &.active {
            font-weight: normal;
            opacity: 1;
        }
    }

    @include media-breakpoint-down(md) {
        .nav-link {
            padding: 0.5rem 0.75rem;

            .fa {
                display: block;
            }

            span {
                font-size: 0.75rem;
            }
        }
    }
}
