.navbar-nav,
.navbar-nav .nav-item,
.navbar-collapse {
    min-width: 0;
}

.navbar {
    z-index: 1000; //Conflit with z-index 500 on summernote
    box-shadow: none;
    white-space: nowrap;

    &.navbar-shadow {
        box-shadow:
            0 2px 4px -1px rgba(0, 0, 0, 0.2),
            0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 1px 10px 0 rgba(0, 0, 0, 0.12);
    }

    .nav-link {
        text-transform: uppercase;
        font-size: 0.875rem;
    }

    .offcanvas-lg.show {
        .offcanvas-header {
            border-bottom: 1px solid $navbar-dark-color;
        }
    }

    .nav-link strong {
        font-weight: normal;
    }

    .navbar-brand {
        padding-left: $navbar-brand-padding-y;
        padding-right: $navbar-brand-padding-y;
    }

    a.dropdown-item {
        .icon {
            --#{$prefix}icon-size: 1.125em;
            text-align: center;
            margin-right: 0.5rem;
        }
    }

    .offcanvas-body {
        @include media-breakpoint-down(lg) {
            .navbar-nav .dropdown-menu {
                position: static;
            }

            .dropdown-menu-arrow.dropdown-menu-end:before {
                display: none;
            }
        }
    }
}
