.placeholder {
  max-width: 100%;
  min-height: 100%;
  background-color: #eee;

  .loading-background {
	animation-duration: 1.25s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: placeHolderShimmer;
	animation-timing-function: linear;
	background: darkgray;
	background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
	background-size: 800px 104px;
	height: 100%;
	position: relative;
  }
}

@keyframes placeHolderShimmer {
  0% {
	background-position: -468px 0
  }
  100% {
	background-position: 468px 0
  }
}

