.dropdown.bootstrap-select {
  .dropdown-item {
	max-width: 100%;
  }

  > .dropdown-toggle {
	&.bs-placeholder {
	  &.btn-primary {
		&,
		&:hover,
		&:focus,
		&:active {
		  color: $primary;
		}
	  }
	}
  }

  .dropdown-menu {
	.dropdown-item {
	  &.active,
	  &:active {
		color: $primary;
	  }
	}
  }

  &.show > .btn-primary.dropdown-toggle {
	color: $primary;
  }
}