.social {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    color: gray;
    border: 1px solid lightgray;
    border-radius: 4px;
    transition:
        color 0.25s ease,
        background-color 0.5s ease;

    &:hover {
        text-decoration: none;
    }

    .icon {
        width: 1em;
        height: 1em;
        font-size: 1em;
    }

    &.big-social {
        height: 80px;
        width: 80px;
        line-height: 80px;
        font-size: 40px;
    }

    &.social-x:hover {
        background-color: #14171a;
        color: white;
    }

    &.social-facebook:hover {
        background-color: #3b5998;
        color: white;
    }

    &.social-google:hover {
        background-color: #dd4b39;
        color: white;
    }
}
