@import '../variables';

.onoffswitch {
    position: relative;
    width: 86px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 50px;
    margin-bottom: 0;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 24px;
    padding: 0;
    line-height: 24px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: 'OUI';
    padding-left: 12px;
    background-color: #2fccff;
    color: #ffffff;
}

.onoffswitch-inner:after {
    content: 'NON';
    padding-right: 12px;
    background-color: #eeeeee;
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    width: 31px;
    margin: -3.5px;
    background: #ffffff;
    border: 2px solid #999999;
    border-radius: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 58px;
    transition: all 0.3s ease-in;
}

.onoffswitch-checkbox:checked,
.onoffswitch-checkbox.checked {
    & + .onoffswitch-label {
        .onoffswitch-inner {
            margin-left: 0;
        }

        .onoffswitch-switch {
            right: 0;
        }
    }
}
