@import "../variables";

.twitter-typeahead {
  width: 100%;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: $info;
  cursor: pointer;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  border-radius: $card-border-radius;;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.tt-query {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: $primary;
}

.tt-dropdown-menu {
  width: 100%;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: $card-border-radius;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  cursor: pointer;
}

.tt-suggestion p {
  margin: 0;
}
