/**
 * autoComplete.js custom styles
 */
.autoComplete_wrapper {
    position: relative;
    display: block;

    > ul {
        position: absolute;
        z-index: $zindex-dropdown;
        top: 100%;
        left: 0;
        right: 0;
        max-height: 300px;
        margin: 0.125rem 0 0;
        padding: 0.25rem 0;
        overflow-y: auto;
        list-style: none;
        background-color: $dropdown-bg;
        border: $dropdown-border-width solid $dropdown-border-color;
        border-radius: $dropdown-border-radius;
        box-shadow: $dropdown-box-shadow;

        &[hidden] {
            display: none;
        }

        > li {
            padding: $dropdown-item-padding-y $dropdown-item-padding-x;
            color: $dropdown-link-color;
            cursor: pointer;
            transition:
                background-color 0.15s ease-in-out,
                color 0.15s ease-in-out;

            &:hover,
            &[aria-selected='true'] {
                background-color: $dropdown-link-hover-bg;
                color: $dropdown-link-hover-color;
            }

            mark {
                padding: 0;
                background-color: transparent;
                color: inherit;
                font-weight: $font-weight-bold;
            }
        }

        > li.no_result {
            color: $text-secondary;
            font-style: italic;
            cursor: default;

            &:hover {
                background-color: transparent;
                color: $text-secondary;
            }

            &.error {
                color: $danger;
            }
        }
    }
}
