.one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.image-gallery {
    display: inline-block;
    height: 100%;

    &:hover {
        cursor: -webkit-zoom-in;
        cursor: -moz-zoom-in;
    }
}

.share {
    display: block;
    color: white;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;

    i,
    span {
        line-height: 1em;
    }

    i {
        min-width: 1.3em;
        border-right: 1px solid white;
        margin-right: 10px;
        text-align: center;
    }

    &:hover {
        opacity: 0.8;
        color: white;
    }

    &.facebook {
        background-color: #3b5998;
    }

    &.twitter {
        background-color: #48c4d2;
    }
}

.icon {
    display: inline-block;
    margin-top: 10px;
    border-radius: 50%;
    padding: 30px;

    & > span {
        position: relative;
        left: -10px;
    }
}

.color-primary {
    color: $color-primary;
}

.color-success {
    color: $color-success;
}

.color-info {
    color: $color-info;
}

.color-warning {
    color: $color-warning;
}

.color-danger {
    color: $color-danger;
}

.icon-red {
    color: $red-200;
    border: 1px solid $red-100;
}

.icon-orange {
    color: $orange-200;
    border: 1px solid $orange-100;
}

.icon-yellow {
    color: $yellow-200;
    border: 1px solid $yellow-100;
}

.icon-green {
    color: $green-200;
    border: 1px solid $green-100;
}

.icon-blue {
    color: $blue-200;
    border: 1px solid $blue-100;
}

.icon-darkblue {
    color: $purple-200;
    border: 1px solid $purple-100;
}

.icon-purple {
    color: $purple-400;
    border: 1px solid $purple-200;
}

.big-icon {
    & > span {
        &,
        &:before {
            font-size: 2em;
        }
    }
}
