@import '../variables';

.widget {
    margin-bottom: 40px;

    .widget_item {
        padding: 10px 0;
        border-top: 1px solid #ccc;

        &:first-child {
            padding-top: 0;
            border-top: none;
        }
    }

    .col-user-profile-sm {
        max-width: 50px;
    }

    .membres {
        max-height: 300px;

        .fb_membres {
            a {
                display: block;
                float: left;
            }
        }
    }

    .tweet-list,
    .timeline-Tweet-actions {
        list-style: none;
        padding: 0;
    }

    .timeline-TweetList-tweet {
        border-top: 1px solid rgba(15, 70, 100, 0.12);
    }

    .Avatar {
        max-width: 100%;
        max-height: 100%;
    }

    .timeline-Tweet {
        padding: 10px;
        margin-right: 10px;
    }

    .timeline-Tweet-retweetCredit {
        margin-bottom: 8px;
        margin-left: 18px;
        font-size: 80%;
        color: #889ba6;
    }

    .timeline-Tweet-retweetCreditIcon {
        position: relative;
        top: 1px;
        display: inline-block;
        margin-right: 4px;
    }

    .timeline-Tweet-author {
        position: relative;
        margin-bottom: 2px;
        padding-left: 40px;
    }

    .timeline-Tweet-inReplyTo {
        padding-left: 40px;
        font-weight: 300;
        color: #8899a6;
    }

    .timeline-Tweet-text {
        margin-left: 40px;
        margin-bottom: 12px;
        line-height: 18px;
        font-weight: 400;
        word-wrap: break-word;
    }

    .timeline-Tweet-text[dir='ltr'] {
        text-align: left;
        direction: ltr;
    }

    .timeline-Tweet-text[dir='rtl'] {
        text-align: right;
        direction: rtl;
    }

    .timeline-Tweet-metadata {
        float: right;
        margin-top: 2px;
    }

    .timeline-Tweet-timestamp {
        font-size: 12px;
        line-height: 18px;
    }

    .timeline-Tweet-actions {
        margin-left: 40px;
    }

    .timeline-Tweet-action {
        display: inline-block;
        font-size: 17px;
    }

    .timeline-Tweet-action + .timeline-Tweet-action {
        margin-left: 20px;
    }

    .timeline-Tweet--isRetweet {
        padding-top: 7px;
    }

    .timeline-Tweet:hover {
        background-color: rgba(160, 200, 220, 0.12);
    }

    .timeline-Tweet-timestamp,
    .timeline-Tweet-action a {
        color: #e1e8ed;
    }

    .timeline-Tweet:hover .timeline-Tweet-timestamp,
    .timeline-Tweet:hover .timeline-Tweet-action a {
        color: #667580;
    }

    .TweetAction:active,
    .TweetAction:focus,
    .TweetAction:hover {
        text-decoration: none;
    }

    .TweetAction--heart:active .Icon,
    .TweetAction--heart:focus .Icon,
    .TweetAction--heart:hover .Icon {
        color: #ff5454;
    }

    .TweetAction--share:active .Icon,
    .TweetAction--share:focus .Icon,
    .TweetAction--share:hover .Icon {
        color: #36a9e1;
    }

    .TweetAction--reply:active .Icon,
    .TweetAction--reply:focus .Icon,
    .TweetAction--reply:hover .Icon {
        color: #bdea74;
    }

    .TweetAuthor {
        max-width: 100%;
        overflow: hidden !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
        word-wrap: normal !important;
    }

    .TweetAuthor-avatar {
        position: absolute;
        top: 0;
        left: 0;
        width: 32px;
        height: 32px;
        overflow: hidden;
        border-radius: 4px;
    }

    .TweetAuthor-name {
        /*font-size: 80%;*/
        line-height: 18px;
        font-weight: 700;
    }

    .TweetAuthor-screenName {
        /*font-size: 80%;*/
        line-height: 18px;
        font-weight: 300;
        color: #8899a6;
    }

    .SandboxRoot.env-bp-min .TweetAuthor-avatar {
        position: static;
        top: auto;
        left: auto;
        float: left;
        margin-right: 8px;
    }
}

#bottom-navigation {
    display: none;
}

@include media-breakpoint-down(md) {
    .widget {
        display: none;

        &.active {
            display: block;
        }
    }

    #bottom-navigation {
        display: block;
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 2;
        transition: transform 0.5s ease;
        transform: translateY(54px);

        &.visible {
            transform: translateY(0);
        }

        .nav-tabs {
            flex-wrap: nowrap;
        }

        .nav-item {
            min-width: 5rem;
            max-width: 10rem;
        }

        .nav-link {
            border: none;
        }
    }
}

.widget .list-group-item {
    overflow: hidden;
    border-bottom: 1px solid $card-border-color;
    border-radius: 0;
    border-left: none;
    border-right: none;

    &:first-child {
        border-top: none;
        margin-right: 0;
    }

    &:last-child {
        border-bottom: none;
    }

    .list-group-item-heading {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .list-group-item-image {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
        overflow: hidden;
        flex-shrink: 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        small {
            white-space: nowrap;
        }
    }

    .list-group-item-text {
        strong {
            font-weight: normal;
        }
    }
}
