.widget {
    margin-bottom: 40px;

    .widget_item {
        padding: 10px 0;
        border-top: 1px solid #ccc;

        &:first-child {
            padding-top: 0;
            border-top: none;
        }
    }

    .col-user-profile-sm {
        max-width: 50px;
    }

    .membres {
        max-height: 300px;

        .fb_membres {
            a {
                display: block;
                float: left;
            }
        }
    }
}

#fb-container {
    min-height: 130px;
}

#bottom-navigation {
    display: none;
}

@include media-breakpoint-down(md) {
    .widget {
        display: none;

        &.active {
            display: block;
        }
    }

    #bottom-navigation {
        display: block;
        position: fixed;
        border: none;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 2;
        transition: transform 0.5s ease;
        transform: translateY(51px);

        &.visible {
            transform: translateY(0);
        }

        .nav-tabs {
            flex-wrap: nowrap;
        }

        .nav-item {
            min-width: 5rem;
            max-width: 10rem;
        }

        .nav-link {
            border-radius: 0;
            border: none;
        }
    }
}

.widget .list-group-item {
    border-bottom: 1px solid $card-border-color;
    border-radius: 0;
    border-left: none;
    border-right: none;

    &:first-child {
        border-top: none;
        margin-right: 0;
    }

    &:last-child {
        border-bottom: none;
    }

    .list-group-item-image,
    .list-group-item-date {
        margin-right: 1rem;
        overflow: hidden;
        min-width: 0;
        flex: 0 0 auto;
    }

    .list-group-item-image {
        width: 40px;
    }

    .list-group-item-date {
        width: 50px;

        small {
            white-space: nowrap;
        }
    }

    .list-group-item-content {
        overflow: hidden;

        small {
            display: block;

            strong {
                font-weight: normal;
            }
        }
    }
}
