{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}"  method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <button class="btn btn-primary" type="submit">{{ 'change_password.submit'|trans }}</button>
        <a class="pull-right btn btn-primary" title="Retourner à mes infos" href="{{ path('fos_user_profile_show') }}">Retour</a>
    </div>
</form>
