<div class="col-sm-6 col-md-12">
    {% if not soiree.isBrouillon %}
        <!-- Tendances -->
        {% include "City/Widget/tendances.html.twig" %}
        <!-- ./Tendances -->
    {% endif %}

    {% include "City/Widget/ads.html.twig" %}
</div>

<div class="col-sm-6 col-md-12">
    {% if app_manager.facebookIdPage %}
        <!-- Facebook -->
        {% include "City/Widget/facebook.html.twig" %}
        <!-- ./Facebook -->
    {% endif %}

    <!-- Événements similaires -->
    {% include "City/Widget/evenements_similaires.html.twig" %}
    <!-- ./Événements similaires -->
</div>
