{% extends ":City:layout.html.twig" %}

{% block start_container %}
<div class="container-fluid" id="container-fluid">
    <div id="content" class="col-md-8 panel-right">
        <div class="col-lg-11 col-lg-offset-1">
            {% endblock %}

            {% block end_container %}
        </div>
    </div>
    <div class="col-md-4 col-md-offset-0 col-sm-offset-0 col-sm-12 col-xs-12 col-xs-offset-0" id="widgets">
        <div class="col-lg-11 col-lg-offset-1">
            <div class="row">
                {% block widgets %}{% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
