{% extends "TBNAgendaBundle::layout.html.twig" %}

{% block titre_agenda %}{% block titre_espace %}{% endblock %}{% endblock %}

{% block title_agenda %}
    {% block title_espace %}{{ block('titre_espace') }}{% endblock %}
{% endblock %}

{% block breadcrumb_agenda %}{% block breadcrumb_espace %}{% endblock %}{% endblock %}

{% block meta_keywords %}{% spaceless %}
    {% block meta_keywords_espace %}{% endblock %}
    {{ parent() }}
{% endspaceless %}{% endblock %}

{% block meta_description %}{% spaceless %}
    {% block meta_description_espace %}{{ parent() }}{% endblock %}
{% endspaceless %}{% endblock %}
    
{% block body_agenda %}
    {% block body_espace %}
        <br />
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block js_agenda %}
    {% block js_espace %}{% endblock %}
{% endblock %}

{% block css_agenda %}
    {% block css_espace %}{% endblock %}
{% endblock %}