/* 
    Created on : 13 sept. 2014, 15:01:14
    Author     : Guillaume S. <guillaume@sainthillier.fr>
*/
/*

To get this list of colors inject jQuery at http://www.google.com/design/spec/style/color.html#color-color-palette

Then, run this script to get the list.


(function() {
  var colors = {}, main = {};
  $(".color-group").each(function() {
    var color = $(this).find(".name").text().trim().toLowerCase().replace(" ", "-");
    colors[color] = {};

    $(this).find(".color").not(".main-color").each(function() {
      var shade = $(this).find(".shade").text().trim(),
          hex   = $(this).find(".hex").text().trim();

      colors[color][shade] = hex;
    });
    main[color] = color + "-" + $(this).find(".main-color .shade").text().trim();

  });
  var LESS = "";
  $.each(colors, function(name, shades) {
    LESS += "\n\n";
    $.each(shades, function(shade, hex) {
      LESS += "@" + name + "-" + shade + ": " + hex + ";\n";
    });
    if (main[name]) {
      LESS += "@" + name + ": " + main[name] + ";\n";
    }
  });
  console.log(LESS);
})();


*/
html body {
  /*    .img {
          margin: 0 auto;
      }*/
}
html body .modal-title a {
  font-weight: 100;
}
html body .label {
  margin-right: 3px;
}
html body .label strong {
  font-weight: normal;
}
html body .margin-auto {
  margin-left: auto;
  margin-right: auto;
}
html body .share {
  display: block;
  color: white;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
html body .share i,
html body .share span {
  line-height: 1em;
}
html body .share i {
  min-width: 1.3em;
  border-right: 1px solid white;
  margin-right: 10px;
  text-align: center;
}
html body .share:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: white;
}
html body .share.facebook {
  background-color: #3b5998;
}
html body .share.twitter {
  background-color: #48c4d2;
}
html body .share.google-plus {
  background-color: #d94a39;
}
html body .icon {
  display: inline-block;
  margin-top: 10px;
  border-radius: 50%;
  padding: 30px;
}
html body .icon > span {
  position: relative;
  left: -10px;
}
html body .icon-red {
  color: #ff5252;
  border: 1px solid #ff8a80;
}
html body .icon-orange {
  color: #ffab40;
  border: 1px solid #ffd180;
}
html body .icon-yellow {
  color: #eeff41;
  border: 1px solid #f4ff81;
}
html body .icon-green {
  color: #b2ff59;
  border: 1px solid #ccff90;
}
html body .icon-blue {
  color: #448aff;
  border: 1px solid #82b1ff;
}
html body .icon-darkblue {
  color: #7c4dff;
  border: 1px solid #b388ff;
}
html body .icon-purple {
  color: #d500f9;
  border: 1px solid #e040fb;
}
html body .big-icon > span,
html body .big-icon > span:before {
  font-size: 2em;
}
html body .paginate {
  margin-bottom: 0;
}
html body .shadow {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
html body .full_width {
  width: 100%;
}
html body .no-padding {
  padding: 0!important;
}
html body .padding-left-10 {
  padding-left: 10px;
}
html body .no_margin_bottom {
  margin-bottom: 0;
}
html body .no_margin {
  margin: 0!important;
}
html body .bg-white {
  background-color: white !important;
}
html body .required:after {
  content: '*';
}
html body .border_bottom {
  border-bottom: 1px dashed #d9d9d9;
}
html body .border_bottom:last-child {
  border-bottom: none;
}
html body .component {
  -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 5px -1px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 5px -1px;
}
html body .count {
  font-size: 1.8em;
  font-weight: 300 !important;
}
html body .thin {
  font-weight: 400 !important;
}
html body .overlay {
  margin: 5px;
  min-height: 115px;
}
html body .overlay img {
  margin-right: 10px;
}
html body .number {
  font-weight: 300;
  font-size: 1.2em;
  font-family: Roboto;
}
html body .number.number-sm {
  font-size: 0.8em;
}
html body .number.number-big {
  font-size: 1.5em;
}
html body .number.number-xbig {
  font-size: 1.8em;
}
html body .number.number-xxbig {
  font-size: 2.5em;
}
html body .date {
  font-size: 1.2em;
  font-weight: 300;
}
html body .trait {
  margin-top: 5px;
}
html body .margin_bottom_30 {
  margin-bottom: 30px;
}
html body .separator_left {
  padding: 0 0 0 20px;
  font-weight: normal;
  position: relative;
  line-height: 50px;
}
html body .separator_left.center {
  margin: 0;
  display: inline-block;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
}
html body .separator_left:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(255, 255, 255, 0.3);
  background: #00aaff;
}
