/*

To get this list of colors inject jQuery at http://www.google.com/design/spec/style/color.html#color-color-palette

Then, run this script to get the list.


(function() {
  var colors = {}, main = {};
  $(".color-group").each(function() {
    var color = $(this).find(".name").text().trim().toLowerCase().replace(" ", "-");
    colors[color] = {};

    $(this).find(".color").not(".main-color").each(function() {
      var shade = $(this).find(".shade").text().trim(),
          hex   = $(this).find(".hex").text().trim();

      colors[color][shade] = hex;
    });
    main[color] = color + "-" + $(this).find(".main-color .shade").text().trim();

  });
  var LESS = "";
  $.each(colors, function(name, shades) {
    LESS += "\n\n";
    $.each(shades, function(shade, hex) {
      LESS += "@" + name + "-" + shade + ": " + hex + ";\n";
    });
    if (main[name]) {
      LESS += "@" + name + ": " + main[name] + ";\n";
    }
  });
  console.log(LESS);
})();


*/
.event {
  padding-top: 10px;
  padding-bottom: 10px;
}
.event .description_evenement .fa {
  text-align: right;
  margin-right: 10px;
  min-width: 25px;
  position: relative;
  top: 4px;
}
.event.odd {
  background-color: #f2f2f2;
}
.event .image-container {
  position: relative;
}
.event .image-container .label {
  position: absolute;
  line-height: 2.4em;
  padding: 0 10px;
  top: 10px;
}
.event .image-container .label .fa {
  margin-right: 5px;
}
.event .img {
  max-height: 200px;
}
.event .img.loading {
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.event .image-gallery:hover {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.event .infos_evenement .border_bottom:last-child {
  border-bottom: none;
}
.event .infos_evenement,
.event .description_evenement {
  min-height: 150px;
}
.event .image_soiree {
  padding-right: 0;
  text-align: center;
}
.event .image_soiree img {
  display: inline-block;
}
@media (min-width: 992px) {
  .image_soiree {
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .event {
    padding-top: 0;
    padding-bottom: 0;
  }
  .event .description_evenement,
  .event .infos_evenement {
    min-height: 50px;
  }
  .event .nom_soiree {
    font-size: 18px;
  }
  .event .description_evenement {
    margin-top: 10px;
  }
  .event .img {
    max-height: 100px;
  }
  .event .image_soiree {
    padding-right: 15px;
  }
}
