{% extends 'espace-perso/new.html.twig' %}

{% block title event.nom %}
{% block titre event.nom %}

{% block breadcrumb_espace -%}
    {% do menu.addItem(event.nom, url('app_event_edit', {'id' : event.id})) %}
{%- endblock %}

{% block body_form %}
    {{ parent() }}
    <div class="mt-4 form-delete">
        <form method="post" action="{{ path('app_event_delete', {'id': event.id}) }}">
            <input name="_method" type="hidden" value="DELETE">
            <button type="submit" class="btn btn-danger btn-raised">
                <i class="fa fa-trash"></i>
                Supprimer
            </button>
        </form>
    </div>
{% endblock %}
