{% include "City/Event/block_preview_event.html.twig" with({'events': events}) %}

{% if events.hasNextPage %}
    <div class="text-center my-4">
        <a class="btn btn-outline-primary more" href="{{ path('app_search_query', {'q' : term, 'page': events.nextPage, 'type' : 'evenements'}) }}">
            Plus
        </a>
    </div>
{% endif %}
