<div class="row">
    {% for user in users %}
        {% include 'user/block_details_user.html.twig' %}
    {% endfor %}
</div>

{% if users.paginationData.next is defined %}
    <div class="text-center my-4">
        <a class="btn btn-outline-primary more"
           href="{{ path('app_search_query', {'q' : term, 'page': users.paginationData.next, 'type' : 'membres'}) }}">
            Plus
        </a>
    </div>
{% endif %}
