{% include '_partials/user/list-grid.html.twig' %}

{% if users.paginationData.next is defined %}
    <div class="text-center my-4">
        <a class="btn btn-outline-primary more"
           href="{{ path('app_search_index', {'q' : term, 'page': users.paginationData.next, 'type' : 'membres'}) }}">
            Plus
        </a>
    </div>
{% endif %}
