{% for comment in comments %}
    {{ include('comment/reply/item.html.twig', {comment: comment}) }}
{% endfor %}

{% if comments.hasNextPage %}
    <div class="load-more mt-2 ms-4 text-start" data-url="{{ path('app_comment_reponse_list', {id: mainComment.id, page: (comments.currentPage + 1)}) }}">
        <button type="button" class="btn ms-4">
            Plus de réponses
        </button>
    </div>
{% endif %}
