# yaml-language-server: $schema=../vendor/symfony/dependency-injection/Loader/schema/services.schema.json

# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.
# See also https://symfony.com/doc/current/service_container/import.html

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    feedback_recipient_email: '%env(FEEDBACK_RECIPIENT_EMAIL)%'
    facebook_id_page: '205292952998805'
    google_map_key: '%env(GOOGLE_MAP_KEY_WEB)%'
    google_map_id: '%env(GOOGLE_MAP_ID)%'
    twitter_id_page: 'By__Night'
    disable_polled_feeds: '%kernel.debug%'
    patterns.path: '.+'
    patterns.page: '[1-9](\d*)'
    patterns.id: '\d+'
    patterns.slug: '[^/]+'
    patterns.social: 'facebook|google|twitter'
    patterns.admin_social: 'facebook_admin|google_admin|twitter_admin'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            $memoryCache: '@redis.app_cache_pool'
            $persistProcessor: '@api_platform.doctrine.orm.state.persist_processor'

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/Admin/Filter'
            - '../src/Annotation'
            - '../src/Dependency'
            - '../src/DependencyInjection'
            - '../src/Dto'
            - '../src/Entity'
            - '../src/Exception'
            - '../src/File'
            - '../src/Kernel.php'
            - '../src/Migrations'
            - '../src/Glide'
            - '../src/Reject'
            - '../src/Search'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones
    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']

    App\Request\ParamConverter\:
        resource: '../src/Request/ParamConverter'
        tags:
            - { name: controller.argument_value_resolver, priority: 150 }

    App\Social\FacebookAdmin:
        arguments:
            $config: { id: '%env(FACEBOOK_API_ID)%', secret: '%env(FACEBOOK_API_SECRET)%' }

    App\Social\Google:
        arguments:
            $config: { id: 'unused', secret: 'unused' }

    App\Social\Twitter:
        arguments:
            $config: { id: 'unused', secret: 'unused' }

    App\Social\Facebook:
        arguments:
            $config: { id: '%env(FACEBOOK_API_ID)%', secret: '%env(FACEBOOK_API_SECRET)%' }

    App\Form\Type\ReCaptchaType:
        arguments:
            $siteKey: '6LflWQoUAAAAAGDlgrKTOPxxMXwpb932_Q_tuvKX'

    App\Validator\Constraints\EventConstraintValidator:
        tags:
            - { name: validator.constraint_validator, alias: EventContraintValidator }

    App\Doctrine\EntityListener\:
        resource: '../src/Doctrine/EntityListener'
        tags:
            - { name: doctrine.orm.entity_listener, lazy: true }

    Aws\S3\S3Client:
        arguments:
            - version: '2006-03-01'
              region: '%env(AWS_S3_REGION)%'
              credentials:
                  key: '%env(AWS_S3_KEY)%'
                  secret: '%env(AWS_S3_SECRET)%'

    Aws\CloudFront\CloudFrontClient:
        arguments:
            - version: '2018-06-18'
              region: '%env(AWS_S3_REGION)%'
              credentials:
                  key: '%env(AWS_S3_KEY)%'
                  secret: '%env(AWS_S3_SECRET)%'

    # Store session in redis
    Redis:
        class: Redis
        calls:
            - connect:
                  - '%env(REDIS_HOST)%'
                  - '%env(int:REDIS_PORT)%'

    Symfony\Component\HttpFoundation\Session\Storage\Handler\RedisSessionHandler:
        arguments:
            - '@Redis'
            - { prefix: 'by-night' }

    Monolog\Processor\PsrLogMessageProcessor:
        tags: { name: monolog.processor, handler: sentry }

    app.s3_thumb_server:
        class: League\Glide\Server
        # call the static method
        factory: ['App\Glide\ServerFactory', create]
        arguments:
            - source: '@s3.storage.reader'
              cache: '@thumbs.storage'
              driver: 'imagick'

    app.asset_thumb_server:
        class: League\Glide\Server
        # call the static method
        factory: ['App\Glide\ServerFactory', create]
        arguments:
            - source: '@assets.storage.reader'
              cache: '@thumbs.storage'
              driver: 'imagick'

    FOS\ElasticaBundle\Persister\AsyncPagerPersister: '@fos_elastica.async_pager_persister'
    FOS\ElasticaBundle\Persister\PersisterRegistry: '@fos_elastica.persister_registry'
