{% extends "City/Widget/template.html.twig" %}

{% block titre %}Événements similaires{% endblock %}
{% block widget_body_class %}scrollable{% endblock %}
{% block icone %}fa-star{% endblock %}
{% block body %}
    <div>
        {{ render_esi(controller('App\\Controller\\City\\WidgetsController:soireesSimilairesAction', {
            'slug': soiree.slug,
            'id': soiree.id,
            'city': soiree.place.city.slug
        })) }}
    </div>
{% endblock %}
