<div class="widget card {% block widget_class '' %}" {% block widget_attr '' %}>
    <h3 class="card-header">
        <i class="text-primary fa {% block icone '' %}"></i>
        <span>{% block titre '' %}</span>
    </h3>
    <div class="card-body {% block widget_body_class '' %}">
        {% block body %}{% endblock %}
    </div>
    {% block footer %}
        <div class="card-footer"></div>
    {% endblock %}
</div>
