<div class="widget panel panel-primary {% block widget_class '' %}">
    <div class="panel-heading">
        <h3 class="modal-title">
            <i class="pull-right fa text-primary {% block icone '' %}"></i>
            <span>{% block titre '' %}</span>
        </h3>
    </div>
    <div class="panel-body {% block widget_body_class '' %}">
        {% block body %}{% endblock %}
    </div>
    {% block footer %}
        <div class="panel-footer"></div>
    {% endblock %}
</div>
