{% extends "City/Widget/template.html.twig" %}

{% block widget_body_class 'scrollable membres' %}
{% block titre 'Tendances' %}
{% block icone 'fa-line-chart' %}

{% block body %}
    <div>
        {{ render_esi(controller('App\\Controller\\City\\EventController::tendances', {
            'id': soiree.id
        })) }}
    </div>
{% endblock %}

{% block footer '' %}
