{% extends "City/Widget/template.html.twig" %}

{% block titre %}Les supers membres{% endblock %}
{% block widget_body_class %}scrollable{% endblock %}
{% block icone %}fa-users{% endblock %}
{% block body %}
    <div>
        {{ render_esi(controller('App:Fragments/Widgets:topMembres')) }}
    </div>
{% endblock %}
