{% extends "City/Widget/template.html.twig" %}

{% block titre %}À la une cette semaine{% endblock %}
{% block widget_body_class %}scrollable{% endblock %}
{% block icone %}fa-star{% endblock %}
{% block body %}
    <div>
        {{ render_esi(controller('App\\Controller\\City\\WidgetsController:topSoireesAction', {
            'city': city
        })) }}
    </div>
{% endblock %}
