{% extends "City/Widget/template.html.twig" %}

{% block titre %}Les actus à {{ city.name }}{% endblock %}
{% block icone %}fa-twitter{% endblock %}
{% block widget_class %}{% endblock %}
{% block widget_body_class %}panel-twitter scrollable no-padding padding-left-10 scrollable{% endblock %}
{% block body %}
    <div>
        <script>window.twttr = (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.async = true;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);

                t._e = [];
                t.ready = function (f) {
                    t._e.push(f);
                };

                return t;
            }(document, "script", "twitter-wjs"));
        </script>
        <div>
            {{ render_esi(url('app_agenda_tweeter_feed', {'city': city.slug})) }}
        </div>
    </div>
{% endblock %}
