{% extends "City/Widget/template.html.twig" %}

{% block titre -%}
    {% if location.isCity %}Les actus à {{ location.city.name }}{% endif %}
    {% if location.isCountry %}Les actus en {{ location.country.name }}{% endif %}
{%- endblock %}
{% block icone 'fa-twitter' %}
{% block widget_class '' %}
{% block widget_body_class 'panel-twitter scrollable no-padding padding-left-10 scrollable' %}

{% block body %}
    <div>
        <script>window.twttr = (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.async = true;
                js.src = "//platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);

                t._e = [];
                t.ready = function (f) {
                    t._e.push(f);
                };

                return t;
            }(document, "script", "twitter-wjs"));
        </script>
        <div>
            {{ render_esi(path('app_agenda_tweeter_feed', {'location': location.slug})) }}
        </div>
    </div>
{% endblock %}
