{% set no_ads = true %}
{% extends "base.html.twig" %}

{% block body %}
<br/>
<div class="row">
    <div class="col-sm-8 col-lg-6 col-lg-offset-3 col-sm-offset-2">
        {% block fos_user_content %}{% endblock %}
    </div>
</div>
{% endblock %}
