{% extends "TBNUserBundle::layout.json.twig" %}

{% block titre_espace %}
    Me déconnecter de {{ service|capitalize }}
{% endblock %}

{% block form_action_espace %}
    {{ path('tbn_disconnect_service', {'service' : service}) }}
{% endblock %}
{% block fos_user_content %}
    <p>
        {% block texte %}
            En vous deconnectant de {{ service|capitalize }}, vous ne pourrez poster vos événements sur le réseau social.
        {% endblock %}
    </p>
    <label>
        {% block texte_input %}
            Supprimer tous les posts de {{ site.nom }} By Night
        {% endblock %}
        <input type="checkbox" value=""/>
    </label>
    <div class="hidden no_margin alert alert-danger">
        <i class="fa fa-warning"></i>
        Cette action est irréversible!
    </div>
{% endblock %}

{% block modal_buttons_espace %}
    <input type="submit" class="btn btn-primary" data-loading-text="Veuillez patienter..." value="Continuer"
           id="disconnect_social"/>
{% endblock %}
