{# empty Twig template #}
{% extends "TBNUserBundle:Membres:layout.html.twig" %}

{% block title_membre %}
    Les membres à {{ site.nom }}
{% endblock %}

{% block titre_membre %}
    Membres
{% endblock %}

{% block meta_keywords_membre %}derniers, membres, {% endblock %}

{% block meta_description_espace %}Trouvez les membres de {{ site.nom }} By Night.{% endblock %}


{% block body_membre %}
    {% include "TBNUserBundle:Membres:block_search.html.twig" with({ 'term' : null }) %}
    
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {% for i, user in new_membres %}

        {% include "TBNUserBundle:Membres:block_details_user.html.twig" %}
        {% if (i+1) < new_membres|length %}
        {% endif %}

    {% endfor %}
    {% for i, user in last_actifs %}

        {% include "TBNUserBundle:Membres:block_details_user.html.twig" %}
        {% if (i+1) < new_membres|length %}
        {% endif %}

    {% endfor %}
    {% for i, user in new_membres %}

        {% include "TBNUserBundle:Membres:block_details_user.html.twig" %}
        {% if (i+1) < new_membres|length %}
        {% endif %}

    {% endfor %}
    {% for i, user in last_actifs %}

        {% include "TBNUserBundle:Membres:block_details_user.html.twig" %}
        {% if (i+1) < new_membres|length %}
        {% endif %}

    {% endfor %}
    {% for i, user in new_membres %}

        {% include "TBNUserBundle:Membres:block_details_user.html.twig" %}
        {% if (i+1) < new_membres|length %}
        {% endif %}

    {% endfor %}
    </div>
{% endblock %}

{% block css_membre %}
    {% stylesheets 
        'bundles/tbnuser/css/liste.css'

        output='prod/css/membres/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" >
    {% endstylesheets %}
{% endblock %}