body.error-page {
    display: flex;
    padding: 0;
    background: white;
}

.box-error {
    margin-top: 200px;
    margin-top: 30vh;
    max-width: 30em;
    margin-left: auto;
    margin-right: auto;

    h1 {
        font-size: 48px;
        margin: 0 20px 0 0;
    }

    h2 {
        font-size: 28px;
    }

    p {
        margin-top: -8px;
        font-weight: 300;
    }
}
