.details_evenement {
  font-size: 120%;

  .block_infos {
	overflow: hidden;

	.fa-ul {

	  li {
		margin-bottom: 10px;
	  }
	}

	.tags {
	  .badge {
		margin-right: 5px;
	  }
	}
  }
}

#loadMap {
  margin-bottom: 5px;
}

.preview {
  .img-responsive {
	max-height: 250px;
  }
}
