.record {
  margin-bottom: 10px;

  .badge {
	display: inline-block;
	font-size: 150%;
  }

  i {
	min-width: 40px;
  }
}

.fa-quote-left {
  transition: all 0.3s ease-in-out;

  &:hover {
	background-color: #EEE;
	transform: rotate(-180deg);
  }
}

.fiche_profil {
  h2 {
	overflow-x: auto;
	overflow-y: hidden;
  }

  strong {
	display: block;
  }
}
