{% extends "City/Widget/template.html.twig" %}

{% block titre %}Lieux{% endblock %}
{% block icone %}fa-map-marker{% endblock %}
{% block body %}
    {{ form_errors(form.place) }}
    {{ form_row(form.place.nom) }}
    {{ form_row(form.adresse) }}

    {% include "EspacePerso/inline-block.html.twig" with({'elem' : (form.place.rue) }) %}
    {% include "EspacePerso/inline-block.html.twig" with({'elem' : (form.place.codePostal) }) %}
    {% include "EspacePerso/inline-block.html.twig" with({'elem' : (form.place.ville) }) %}

    <br/>
    <br/>
    <div id="map"></div>
{% endblock %}

{% block footer '' %}