{% extends "City/Widget/template.html.twig" %}

{% block titre %}Communiquez{% endblock %}
{% block icone %}fa-bullhorn{% endblock %}
{% block body %}
    <div class="form-horizontal">
        {% include "EspacePerso/inline-block.html.twig" with({'elem' : form.reservationInternet}) %}
        {% include "EspacePerso/inline-block.html.twig" with({'elem' : form.reservationTelephone}) %}
        {% include "EspacePerso/inline-block.html.twig" with({'elem' : form.reservationEmail}) %}
    </div>
{% endblock %}

{% block footer '' %}