<div class="col-sm-6 col-md-12">
    <!-- Twitter -->
    {% include "City/Widget/twitter.html.twig" %}
    <!-- ./Twitter -->

    {% include "City/Widget/ads.html.twig" %}

    {% if app_manager.facebookIdPage %}
        <!-- Facebook -->
        {% include "City/Widget/facebook.html.twig" %}
        <!-- ./Facebook -->
    {% endif %}
</div>

<div class="col-sm-6 col-md-12">
    <!-- Top Evénements -->
    {% include "City/Widget/top_evenements.html.twig" %}
    <!-- ./Top Evénements -->

    <!-- Top Membres -->
    {% include "City/Widget/top_membres.html.twig" %}
    <!-- ./Top Membres -->

    <!-- Programme TV -->
    {% include "City/Widget/programme_tv.html.twig" %}
    <!-- ./Programme TV -->
</div>
