{% extends "TBNAdministrationBundle:Site:layout.html.twig" %}

{% block titre_site %}
    Nouveau Site
{% endblock %}

{% block title_site %}
    Nouveau Site
{% endblock %}

{% block breadcrumb_site %}
    {% set test = menu.addItem("Nouveau", path('tbn_administration_site_new')) %}
{% endblock %}

{% block body_site %} 
    {% for service in ['facebook','google','twitter'] %}
        <div class="bloc_config">
            {% include "TBNSocialBundle:Social:social_site.html.twig" with { 'info': edit_site.info, 'service': service } %}
        </div>    
    {% endfor %}

    {{ form(form) }}
{% endblock %}