{% extends "TBNAgendaBundle:Widget:template.html.twig" %}

{% block titre %}Événements similaires{% endblock %}
{% block widget_body_class %}scrollable scrollable-large{% endblock %}
{% block icone %}fa-star{% endblock %}
{% block body %}
    {{ render_hinclude(url('tbn_agenda_soirees_similaires',{'slug': soiree.slug})) }}
{% endblock %}

{% block footer %}
    <div class="panel-footer">
        <a class="btn btn-primary btn-block more-widget" href="{{ path('tbn_agenda_soirees_similaires', {'slug': soiree.slug }) }}" rel="nofollow">Plus</a>
    </div>
{% endblock %}