<div class="widget panel panel-default {% block widget_class %}{% endblock %}">
    <div class="panel-heading bg-white">
        <h3 class="modal-title">
            <i class="pull-right fa text-primary {% block icone %}{% endblock %}"></i>
            <span>{% block titre %}{% endblock %}</span>
        </h3>
    </div>
    <div class="panel-body {% block widget_body_class %}{% endblock %}">
        {% block body %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
</div>
