<div class="widget card {% block widget_class '' %}" {% block widget_attr '' %}>
    {% block header_widget %}
        <h3 class="card-header">
            <i class="text-primary fa {% block icon '' %}"></i>
            <span>{% block header '' %}</span>
        </h3>
    {% endblock %}
    <div class="card-body {% block body_class '' %}">
        {% block body '' %}
    </div>
    {% block footer_widget %}
        <div class="card-footer">
            {% block footer '' %}
        </div>
    {% endblock %}
</div>
