{% extends "TBNAgendaBundle::layout.html.twig" %}

{% block start_container %}
<div class="container-fluid" id="container-fluid">
    <div id="content" class="col-md-7 col-md-offset-1 panel-right">
{% endblock %}

{% block end_container %}                     
    </div>
    <div class="col-md-3 col-md-offset-1" id="widgets" >
        {% block widgets_agenda %}{% endblock %}
    </div>    
</div>
{% endblock %}

{% block css %}
    {% stylesheets 'bundles/tbnagenda/css/widgets.css' 'bundles/tbnagenda/css/style.css' 'bundles/tbnagenda/css/jquery.mCustomScrollbar.css'
       
        output='prod/css/widgets/style.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" >
    {% endstylesheets %}
    {% block css_agenda %}{% endblock %}
{% endblock %}

{% block js_template %}
    {% javascripts 
            'bower/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js'
            '@TBNAgendaBundle/Resources/public/js/widgets.js'
            output='prod/js/evenements/widgets.js' 
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    {% block js_agenda %}{% endblock %}
{% endblock %}