{{ form_errors(elem) }}
<div class="form-horizontal">
    <div class="form-group">
        {{ form_label(elem, null, {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
        <div class="col-sm-8">
            {{ form_widget(elem) }}
        </div>
    </div>
</div>