
{{ form_errors(elem) }}
<div class="form-horizontal">
    <div class="form-group">
        {{ form_label(elem, null, {'label_attr': {'class': 'col-sm-7 control-label'}}) }}
        <div class="col-sm-3">
            <div class="onoffswitch">

                {{ form_widget(elem, {'attr': {'class': 'onoffswitch-checkbox'}}) }}
                {{ form_label(elem, null, {
                    'label' : '<div class="onoffswitch-inner"></div><div class="onoffswitch-switch"></div>',
                    'label_attr' : {'class' : 'onoffswitch-label' }
                }) }}
            </div>
        </div>
    </div>
</div>