<div class="togglebutton form-group bloc_config">
    <label class="full_width">
        {{ elem.vars.label }}
        {% set attr = elem.vars.attr|default([])|merge({'data-href-connect': hwi_oauth_login_url(service)}) %}
        {{ form_widget(elem, {'attr': attr}) }}
    </label>
    <span class="when_on help-block text-primary">
        {{ elem.vars.attr['data-message']|default('') }}
    </span>
</div>
