{{ fos_httpcache_tag('block-user') }}
<div class="row row-cards row-deck">
    {% for i, user in users %}
        <div class="col-sm-6 col-lg-4 col-xl-3">
            {% include 'partials/user/_item-card.html.twig' with({
                cardLayout: 'card-layout-vertical'
            }) %}
        </div>
    {% endfor %}
</div>
