{{ fos_httpcache_tag('block-user') }}
<div class="row row-cards row-deck">
    {% for user in users %}
        <div class="col-lg-6">
            {% include 'partials/user/_item-card.html.twig' %}
        </div>
    {% endfor %}
</div>
