name: Build And Deploy Release

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Get release version
      id: get_version
      run: echo ::set-env name=APP_VERSION::$(echo ${GITHUB_REF} | sed -e "s/refs\/tags\///g" | sed -E "s/v?([0-9]+)\.([0-9]+)\.([0-9]+)(-[a-zA-Z]+(\.[0-9]+)?)?/\1.\2.\3\4/g")
    - name: Get release versions
      id: get_versions
      run: echo ::set-env name=APP_VERSIONS::$(echo ${GITHUB_REF} | sed -e "s/refs\/tags\///g" | sed -E "s/v?([0-9]+)\.([0-9]+)\.([0-9]+)(-[a-zA-Z]+(\.[0-9]+)?)?/\1.\2.\3\4 \1.\2\4 \1\4/g")
    - name: Publish to Docker Repository
      uses: elgohr/Publish-Docker-Github-Action@master
      with:
        name: guystlr/by-night
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        buildargs: APP_VERSION
        tags: "stable,${{ env.APP_VERSIONS }}"
    - name: stop script if command error
      uses: appleboy/ssh-action@master
      env:
        BY_NIGHT_PATH: ${{ secrets.BY_NIGHT_PATH }}
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        envs: BY_NIGHT_PATH
        script_stop: true
        script: |
          cd $BY_NIGHT_PATH
          sudo /bin/bash ./deploy.sh
