name: 'Continuous Integration'

on:
    pull_request:
    push:
        branches:
            - 'refs/pull/*'
            - 'main'

jobs:
    matrix:
        name: Generate job matrix
        runs-on: ubuntu-latest
        outputs:
            matrix: ${{ steps.matrix.outputs.matrix }}
        steps:
            - name: Gather CI configuration
              id: matrix
              uses: laminas/laminas-ci-matrix-action@v1

    qa:
        name: QA Checks
        needs: [matrix]
        runs-on: ${{ matrix.operatingSystem }}
        strategy:
            fail-fast: false
            matrix: ${{ fromJSON(needs.matrix.outputs.matrix) }}
        steps:
            - name: ${{ matrix.name }}
              uses: laminas/laminas-continuous-integration-action@v1
              with:
                  job: ${{ matrix.job }}

    lint:
        name: Lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '8.4'
            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: '24'
                  cache: 'yarn'
            - name: Install PHP dependencies
              run: composer install --no-interaction --no-progress --prefer-dist
            - name: Install Node dependencies
              run: yarn install --frozen-lockfile
            - name: Run ESLint
              run: yarn lint
