<h1>Votre demande de suppression a été examinée</h1>

<p>Bonjour,</p>

<p>
    Votre demande de suppression de contenu du
    {{ contentRemovalRequest.createdAt|date('d/m/Y') }} a été examinée par notre
    équipe. Après étude, nous n'avons pas donné suite à votre demande.
</p>

<p>
    Si vous pensez qu'il s'agit d'une erreur ou si vous souhaitez nous apporter des
    éléments complémentaires, vous pouvez répondre directement à cet e-mail.
</p>

<p>
    Merci de votre compréhension.<br>
    L'équipe By Night
</p>
