<h1>Votre signalement a été traité</h1>

<p>Bonjour,</p>

<p>
    Suite à votre demande de suppression du
    {{ contentRemovalRequest.createdAt|date('d/m/Y') }}, le contenu que vous nous
    avez signalé a été supprimé de By Night.
</p>

<p>Aucune action de votre part n'est nécessaire.</p>

<p>
    Merci de nous avoir contactés.<br>
    L'équipe By Night
</p>
