<h1>Votre demande de suppression a été traitée</h1>

<p>Bonjour,</p>

<p>
    Votre demande de suppression de contenu du
    {{ contentRemovalRequest.createdAt|date('d/m/Y') }} a été traitée par notre
    équipe.
</p>

<p>
    Si vous constatez que le contenu concerné est toujours visible ou si vous avez
    d'autres questions, vous pouvez répondre directement à cet e-mail.
</p>

<p>
    Merci de nous avoir contactés.<br>
    L'équipe By Night
</p>
