<h1>Bonjour</h1>

<p>
    Pour mettre à jour votre mot de passe, veuillez suivre le lien ci-dessous :
    <br><br>
    <a href="{{ url('app_reset_password', {token: resetPasswordToken.token}) }}">{{ url('app_reset_password', {token: resetPasswordToken.token}) }}</a>
    <br />
    Ce lien est valide durant {{ tokenLifetime|date('g') }} heure(s).
</p>
